In [153]:
import os
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from scipy.stats import zscore

# Combining the Datasets

#### Proportion of population living below the national poverty line

In [157]:
'''
STEPS:
-> change the filename into something shorter (if sdg, only the "number")
1. load the data to a variable
2. make the first row into the column header
3. drop the first row that was made into the column header + other irrelevant rows
4. reset the index
5. change the region names para same lahat ng datasets
6. make it into a long representation
7. change the column name to the name of the new column 
8. add it to the combined data set
'''
data = pd.read_csv(os.getenv('DSDATA_PROJ') + '/1.2.1.csv')
data

,1.2.1 Proportion of population living below the national poverty line by sex age 1/,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Year,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015.0,2016,2017,2018.0,2019,2020,2021,2022
1,Geolocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PHILIPPINES,..,..,..,..,..,..,..,..,..,...,..,..,23.5,..,..,16.7,..,..,...,..
3,..National Capital Region (NCR),..,..,..,..,..,..,..,..,..,...,..,..,4.1,..,..,2.2,..,..,...,..
4,..Cordillera Administrative Region (CAR),..,..,..,..,..,..,..,..,..,...,..,..,22.7,..,..,12.0,..,..,...,..
5,..Region I,..,..,..,..,..,..,..,..,..,...,..,..,18.8,..,..,9.9,..,..,...,..
6,..Region II,..,..,..,..,..,..,..,..,..,...,..,..,17.8,..,..,16.3,..,..,...,..
7,..Region III,..,..,..,..,..,..,..,..,..,...,..,..,10.5,..,..,7.0,..,..,...,..
8,..Region IV-A,..,..,..,..,..,..,..,..,..,...,..,..,12.5,..,..,7.1,..,..,...,..
9,..MIMAROPA,..,..,..,..,..,..,..,..,..,...,..,..,25.2,..,..,15.1,..,..,...,..
10,..Region V,..,..,..,..,..,..,..,..,..,...,..,..,39.8,..,..,27.0,..,..,...,..
11,..Region VI,..,..,..,..,..,..,..,..,..,...,..,..,24.6,..,..,16.3,..,..,...,..
12,..Region VII,..,..,..,..,..,..,..,..,..,...,..,..,29.4,..,..,17.7,..,..,...,..
13,..Region VIII,..,..,..,..,..,..,..,..,..,...,..,..,41.3,..,..,30.7,..,..,...,..
14,..Region IX,..,..,..,..,..,..,..,..,..,...,..,..,37.7,..,..,32.7,..,..,...,..
15,..Region X,..,..,..,..,..,..,..,..,..,...,..,..,38.7,..,..,23.1,..,..,...,..
16,..Region XI,..,..,..,..,..,..,..,..,..,...,..,..,23.5,..,..,19.1,..,..,...,..
17,..Region XII,..,..,..,..,..,..,..,..,..,...,..,..,38.1,..,..,28.2,..,..,...,..
18,..Caraga,..,..,..,..,..,..,..,..,..,...,..,..,39.7,..,..,30.5,..,..,...,..
19,..BARMM,..,..,..,..,..,..,..,..,..,...,..,..,59.4,..,..,61.8,..,..,...,..
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Notes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,.. - Data not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,... - Data not yet available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1/ Revised/updated based on the following: a) ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [158]:
# NOTE: Before applying, make sure that the arrangement of the regions are the same as the arrangement in your table
region_names = ['PHILIPPINES', 'NCR: National Capital Region', 
                 'CAR: Cordillera Administrative Region', 
                 'Region 1: Ilocos Region', 
                 'Region 2: Cagayan Valley', 
                 'Region 3: Central Luzon', 
                 'Region 4A: CALABARZON', 
                'MIMAROPA: Southwestern Tagalog Region', 
                'Region 5: Bicol Region', 
                'Region 6: Western Visayas', 
                'Region 7: Central Visayas', 
                'Region 8: Eastern Visayas', 
                'Region 9: Zamboanga Peninsula', 
                'Region 10: Northern Mindanao', 
                'Region 11: Davao Region', 
                'Region 12: SOCCSKSARGEN', 
                'CARAGA: Cordillera Administrative Region', 
                'BARMM: Bangsamoro Autonomous Region in Muslim Mindanao']

In [159]:
# setting our column names, as we can see from above, the headers can be seen at the 0th index
data.columns = data.iloc [0] 
print(data)
# dropping the 'geolocation' row as that is actually used as a header
data = data.drop (data.index [1])
# dropping the column names 
data = data.drop (data.index [0])

0                                                Year  2000  2001  2002  2003  \
0                                                Year  2000  2001  2002  2003
1                                         Geolocation   NaN   NaN   NaN   NaN
2                                         PHILIPPINES    ..    ..    ..    ..
3                     ..National Capital Region (NCR)    ..    ..    ..    ..
4            ..Cordillera Administrative Region (CAR)    ..    ..    ..    ..
5                                          ..Region I    ..    ..    ..    ..
6                                         ..Region II    ..    ..    ..    ..
7                                        ..Region III    ..    ..    ..    ..
8                                       ..Region IV-A    ..    ..    ..    ..
9                                          ..MIMAROPA    ..    ..    ..    ..
10                                         ..Region V    ..    ..    ..    ..
11                                        ..Region VI    ..    ..    ..    ..
12                                       ..Region VII    ..    ..    ..    ..
13                                      ..Region VIII    ..    ..    ..    ..
14                                        ..Region IX    ..    ..    ..    ..
15                                         ..Region X    ..    ..    ..    ..
16                                        ..Region XI    ..    ..    ..    ..
17                                       ..Region XII    ..    ..    ..    ..
18                                           ..Caraga    ..    ..    ..    ..
19                                            ..BARMM    ..    ..    ..    ..
20                                                NaN   NaN   NaN   NaN   NaN
21                                             Notes:   NaN   NaN   NaN   NaN
22                           .. - Data not available    NaN   NaN   NaN   NaN
23                      ... - Data not yet available    NaN   NaN   NaN   NaN
24  1/ Revised/updated based on the following: a) ...   NaN   NaN   NaN   NaN

0   2004  2005  2006  2007  2008  ...  2013  2014  2015.0  2016  2017  2018.0  \
0   2004  2005  2006  2007  2008  ...  2013  2014  2015.0  2016  2017  2018.0
1    NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN     NaN   NaN   NaN     NaN
2     ..    ..    ..    ..    ..  ...    ..    ..    23.5    ..    ..    16.7
3     ..    ..    ..    ..    ..  ...    ..    ..     4.1    ..    ..     2.2
4     ..    ..    ..    ..    ..  ...    ..    ..    22.7    ..    ..    12.0
5     ..    ..    ..    ..    ..  ...    ..    ..    18.8    ..    ..     9.9
6     ..    ..    ..    ..    ..  ...    ..    ..    17.8    ..    ..    16.3
7     ..    ..    ..    ..    ..  ...    ..    ..    10.5    ..    ..     7.0
8     ..    ..    ..    ..    ..  ...    ..    ..    12.5    ..    ..     7.1
9     ..    ..    ..    ..    ..  ...    ..    ..    25.2    ..    ..    15.1
10    ..    ..    ..    ..    ..  ...    ..    ..    39.8    ..    ..    27.0
11    ..    ..    ..    ..    ..  ...    ..    ..    24.6    ..    ..    16.3
12    ..    ..    ..    ..    ..  ...    ..    ..    29.4    ..    ..    17.7
13    ..    ..    ..    ..    ..  ...    ..    ..    41.3    ..    ..    30.7
14    ..    ..    ..    ..    ..  ...    ..    ..    37.7    ..    ..    32.7
15    ..    ..    ..    ..    ..  ...    ..    ..    38.7    ..    ..    23.1
16    ..    ..    ..    ..    ..  ...    ..    ..    23.5    ..    ..    19.1
17    ..    ..    ..    ..    ..  ...    ..    ..    38.1    ..    ..    28.2
18    ..    ..    ..    ..    ..  ...    ..    ..    39.7    ..    ..    30.5
19    ..    ..    ..    ..    ..  ...    ..    ..    59.4    ..    ..    61.8
20   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN     NaN   NaN   NaN     NaN
21   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN     NaN   NaN   NaN     NaN
22   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN     NaN   NaN   NaN     NaN
23   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN     NaN   NaN   NaN     NaN
24   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN     NaN   NaN   NaN     NaN

0   2019  2020  2021  2022
0   2019  2020  2021  2022
1    NaN   NaN   NaN   NaN
2     ..    ..   ...    ..
3     ..    ..   ...    ..
4     ..    ..   ...    ..
5     ..    ..   ...    ..
6     ..    ..   ...    ..
7     ..    ..   ...    ..
8     ..    ..   ...    ..
9     ..    ..   ...    ..
10    ..    ..   ...    ..
11    ..    ..   ...    ..
12    ..    ..   ...    ..
13    ..    ..   ...    ..
14    ..    ..   ...    ..
15    ..    ..   ...    ..
16    ..    ..   ...    ..
17    ..    ..   ...    ..
18    ..    ..   ...    ..
19    ..    ..   ...    ..
20   NaN   NaN   NaN   NaN
21   NaN   NaN   NaN   NaN
22   NaN   NaN   NaN   NaN
23   NaN   NaN   NaN   NaN
24   NaN   NaN   NaN   NaN

[25 rows x 24 columns]
0                                                Year  2000  2001  2002  2003  \
0                                                Year  2000  2001  2002  2003
2                                         PHILIPPINES    ..    ..    ..    ..
3                     ..National Capital Region (NCR)    ..    ..    ..    ..
4            ..Cordillera Administrative Region (CAR)    ..    ..    ..    ..
5                                          ..Region I    ..    ..    ..    ..
6                                         ..Region II    ..    ..    ..    ..
7                                        ..Region III    ..    ..    ..    ..
8                                       ..Region IV-A    ..    ..    ..    ..
9                                          ..MIMAROPA    ..    ..    ..    ..
10                                         ..Region V    ..    ..    ..    ..
11                                        ..Region VI    ..    ..    ..    ..
12                                       ..Region VII    ..    ..    ..    ..
13                                      ..Region VIII    ..    ..    ..    ..
14                                        ..Region IX    ..    ..    ..    ..
15                                         ..Region X    ..    ..    ..    ..
16                                        ..Region XI    ..    ..    ..    ..
17                                       ..Region XII    ..    ..    ..    ..
18                                           ..Caraga    ..    ..    ..    ..
19                                            ..BARMM    ..    ..    ..    ..
20                                                NaN   NaN   NaN   NaN   NaN
21                                             Notes:   NaN   NaN   NaN   NaN
22                           .. - Data not available    NaN   NaN   NaN   NaN
23                      ... - Data not yet available    NaN   NaN   NaN   NaN
24  1/ Revised/updated based on the following: a) ...   NaN   NaN   NaN   NaN

0   2004  2005  2006  2007  2008  ...  2013  2014  2015.0  2016  2017  2018.0  \
0   2004  2005  2006  2007  2008  ...  2013  2014  2015.0  2016  2017  2018.0
2     ..    ..    ..    ..    ..  ...    ..    ..    23.5    ..    ..    16.7
3     ..    ..    ..    ..    ..  ...    ..    ..     4.1    ..    ..     2.2
4     ..    ..    ..    ..    ..  ...    ..    ..    22.7    ..    ..    12.0
5     ..    ..    ..    ..    ..  ...    ..    ..    18.8    ..    ..     9.9
6     ..    ..    ..    ..    ..  ...    ..    ..    17.8    ..    ..    16.3
7     ..    ..    ..    ..    ..  ...    ..    ..    10.5    ..    ..     7.0
8     ..    ..    ..    ..    ..  ...    ..    ..    12.5    ..    ..     7.1
9     ..    ..    ..    ..    ..  ...    ..    ..    25.2    ..    ..    15.1
10    ..    ..    ..    ..    ..  ...    ..    ..    39.8    ..    ..    27.0
11    ..    ..    ..    ..    ..  ...    ..    ..    24.6    ..    ..    16.3
12    ..    ..    ..    ..    ..  ...    ..    ..    29.4    ..    ..    17.7
13    ..    ..    ..    ..    ..  ...    ..    ..    41.3    ..    ..    30.7
14    ..    ..    ..    ..    ..  ...    ..    ..    37.7    ..    ..    32.7
15    ..    ..    ..    ..    ..  ...    ..    ..    38.7    ..    ..    23.1
16    ..    ..    ..    ..    ..  ...    ..    ..    23.5    ..    ..    19.1
17    ..    ..    ..    ..    ..  ...    ..    ..    38.1    ..    ..    28.2
18    ..    ..    ..    ..    ..  ...    ..    ..    39.7    ..    ..    30.5
19    ..    ..    ..    ..    ..  ...    ..    ..    59.4    ..    ..    61.8
20   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN     NaN   NaN   NaN     NaN
21   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN     NaN   NaN   NaN     NaN
22   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN     NaN   NaN   NaN     NaN
23   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN     NaN   NaN   NaN     NaN
24   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN     NaN   NaN   NaN     NaN

0   2019  2020  2021  2022
0   2019  2020  2021  2022
2     ..    ..   ...    ..
3     ..    ..   ...    ..
4     ..    ..   ...    ..
5     ..    ..   ...    ..
6     ..    ..   ...    ..
7     ..    ..   ...    ..
8     ..    ..   ...    ..
9     ..    ..   ...    ..
10    ..    ..   ...    ..
11    ..    ..   ...    ..
12    ..    ..   ...    ..
13    ..    ..   ...    ..
14    ..    ..   ...    ..
15    ..    ..   ...    ..
16    ..    ..   ...    ..
17    ..    ..   ...    ..
18    ..    ..   ...    ..
19    ..    ..   ...    ..
20   NaN   NaN   NaN   NaN
21   NaN   NaN   NaN   NaN
22   NaN   NaN   NaN   NaN
23   NaN   NaN   NaN   NaN
24   NaN   NaN   NaN   NaN

[24 rows x 24 columns]

In [147]:
data.reset_index (drop=True, inplace=True)

# renames the column 'Year' as its actually the location column
data.rename(columns = {'Year':'Geolocation'}, inplace=True)
data = data.drop (data.index [18:]) # irrelevant rows 
# renames the data in the Geolocation for consistency
data['Geolocation'] = region_names
data.set_index('Geolocation')
data = data.reset_index(drop=True)
data

,Geolocation,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015.0,2016,2017,2018.0,2019,2020,2021,2022
0,PHILIPPINES,..,..,..,..,..,..,..,..,..,...,..,..,23.5,..,..,16.7,..,..,...,..
1,NCR: National Capital Region,..,..,..,..,..,..,..,..,..,...,..,..,4.1,..,..,2.2,..,..,...,..
2,CAR: Cordillera Administrative Region,..,..,..,..,..,..,..,..,..,...,..,..,22.7,..,..,12.0,..,..,...,..
3,Region 1: Ilocos Region,..,..,..,..,..,..,..,..,..,...,..,..,18.8,..,..,9.9,..,..,...,..
4,Region 2: Cagayan Valley,..,..,..,..,..,..,..,..,..,...,..,..,17.8,..,..,16.3,..,..,...,..
5,Region 3: Central Luzon,..,..,..,..,..,..,..,..,..,...,..,..,10.5,..,..,7.0,..,..,...,..
6,Region 4A: CALABARZON,..,..,..,..,..,..,..,..,..,...,..,..,12.5,..,..,7.1,..,..,...,..
7,MIMAROPA: Southwestern Tagalog Region,..,..,..,..,..,..,..,..,..,...,..,..,25.2,..,..,15.1,..,..,...,..
8,Region 5: Bicol Region,..,..,..,..,..,..,..,..,..,...,..,..,39.8,..,..,27.0,..,..,...,..
9,Region 6: Western Visayas,..,..,..,..,..,..,..,..,..,...,..,..,24.6,..,..,16.3,..,..,...,..
10,Region 7: Central Visayas,..,..,..,..,..,..,..,..,..,...,..,..,29.4,..,..,17.7,..,..,...,..
11,Region 8: Eastern Visayas,..,..,..,..,..,..,..,..,..,...,..,..,41.3,..,..,30.7,..,..,...,..
12,Region 9: Zamboanga Peninsula,..,..,..,..,..,..,..,..,..,...,..,..,37.7,..,..,32.7,..,..,...,..
13,Region 10: Northern Mindanao,..,..,..,..,..,..,..,..,..,...,..,..,38.7,..,..,23.1,..,..,...,..
14,Region 11: Davao Region,..,..,..,..,..,..,..,..,..,...,..,..,23.5,..,..,19.1,..,..,...,..
15,Region 12: SOCCSKSARGEN,..,..,..,..,..,..,..,..,..,...,..,..,38.1,..,..,28.2,..,..,...,..
16,CARAGA: Cordillera Administrative Region,..,..,..,..,..,..,..,..,..,...,..,..,39.7,..,..,30.5,..,..,...,..
17,BARMM: Bangsamoro Autonomous Region in Muslim ...,..,..,..,..,..,..,..,..,..,...,..,..,59.4,..,..,61.8,..,..,...,..

In [149]:
for c in data.columns.difference(['Geolocation']):
    # cells without values are represented as either '..' or '...', so we should convert them to NaN so we could dropna()
    data [c].replace(to_replace='..', value= np.nan, inplace= True)
    data [c].replace(to_replace='...', value= np.nan, inplace= True)

# drops columns if all of the values are NaN
data = data.dropna(axis=1)

In [150]:
# converting from a wide representation to a long representation
data = pd.melt(data, id_vars='Geolocation', value_vars=data.columns [2:]) 

# renaming the columns into a more readable anmes
data.rename(columns = {'value':'1.2.1', 0 : 'Year'}, inplace=True)

# making the year type into integer
data = data.astype({'Year':'int'})

In [151]:
data

                                          Geolocation  Year  1.2.1
0                                         PHILIPPINES  2018   16.7
1                        NCR: National Capital Region  2018    2.2
2               CAR: Cordillera Administrative Region  2018   12.0
3                             Region 1: Ilocos Region  2018    9.9
4                            Region 2: Cagayan Valley  2018   16.3
5                             Region 3: Central Luzon  2018    7.0
6                               Region 4A: CALABARZON  2018    7.1
7               MIMAROPA: Southwestern Tagalog Region  2018   15.1
8                              Region 5: Bicol Region  2018   27.0
9                           Region 6: Western Visayas  2018   16.3
10                          Region 7: Central Visayas  2018   17.7
11                          Region 8: Eastern Visayas  2018   30.7
12                      Region 9: Zamboanga Peninsula  2018   32.7
13                       Region 10: Northern Mindanao  2018   23.1
14                            Region 11: Davao Region  2018   19.1
15                            Region 12: SOCCSKSARGEN  2018   28.2
16           CARAGA: Cordillera Administrative Region  2018   30.5
17  BARMM: Bangsamoro Autonomous Region in Muslim ...  2018   61.8

In [152]:
combined_data = data

#### Net Enrolment Rate in elementary

In [7]:
data = pd.read_csv(os.getenv('DSDATA_PROJ') + '/1.4.1p5.csv')
data

,1.4.1p5 Net Enrolment Rate in elementary (Indicator is also found in SDG 4.3.s1) 1/,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,NaN,Year,2000,2001,2002.00,2003.00,2004.00,2005.00,2006.00,2007.00,...,2013.00,2014.00,2015.00,2016.00,2017.00,2018.00,2019.00,2020.0000,2021,2022
1,Geolocation,Sex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PHILIPPINES,Both Sexes,96.77,90.1,90.29,88.74,87.11,84.44,83.22,84.93,...,97.20,97.19,96.90,96.15,94.19,94.05,93.96,89.1064,...,...
3,NaN,Boys,96.27,89.33,89.51,87.84,86.17,83.56,82.39,84.07,...,96.74,96.87,96.66,96.17,94.12,94.25,93.79,88.9318,...,...
4,NaN,Girls,97.28,90.91,91.10,89.68,88.08,85.35,84.08,85.83,...,97.68,97.53,97.15,96.12,94.27,93.85,94.15,89.2898,...,...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,Note:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,.. - Data not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,... - Data not yet available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,1/ - Updates were based on the submission of D...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,2/ - Computation for Region IV-A and MIMAROPA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
data.columns = data.iloc [0]
data = data.drop (data.index [1])
data = data.drop (data.index [0])
data.reset_index (drop=True, inplace=True)
data.rename(columns = {'Year':'Geolocation'}, inplace=True)
data = data.drop (data.index [18:]) # irrelevant rows 
data['Geolocation'] = region_names
data

,NaN,Geolocation,2000,2001,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021,2022
0,PHILIPPINES,PHILIPPINES,96.77,90.1,90.29,88.74,87.11,84.44,83.22,84.93,...,97.20,97.19,96.90,96.15,94.19,94.05,93.96,89.1064,...,...
1,NaN,NCR: National Capital Region,96.27,89.33,89.51,87.84,86.17,83.56,82.39,84.07,...,96.74,96.87,96.66,96.17,94.12,94.25,93.79,88.9318,...,...
2,NaN,CAR: Cordillera Administrative Region,97.28,90.91,91.10,89.68,88.08,85.35,84.08,85.83,...,97.68,97.53,97.15,96.12,94.27,93.85,94.15,89.2898,...,...
3,..National Capital Region (NCR),Region 1: Ilocos Region,101,97.82,97.38,96.81,94.82,92.61,92.89,94.42,...,99.64,99.01,99.85,95.92,92.83,92.11,89.91,81.1478,...,...
4,NaN,Region 2: Cagayan Valley,100.13,96.57,96.52,95.81,93.75,91.65,92.00,93.21,...,98.77,98.13,98.80,95.30,92.20,91.85,89.43,80.6316,...,...
5,NaN,Region 3: Central Luzon,101.92,99.13,98.28,97.87,95.95,93.63,93.83,95.69,...,100.57,99.95,100.95,96.58,93.50,92.38,90.42,81.6903,...,...
6,..Cordillera Administrative Region (CAR),Region 4A: CALABARZON,94.42,92.89,91.52,89.19,86.40,82.58,80.86,81.50,...,99.66,100.16,99.19,97.24,94.37,92.24,91.40,87.5276,...,...
7,NaN,MIMAROPA: Southwestern Tagalog Region,94.26,91.96,90.53,88.36,85.52,81.75,80.19,81.01,...,99.85,100.27,99.42,97.94,95.13,93.45,92.25,88.5518,...,...
8,NaN,Region 5: Bicol Region,94.58,93.88,92.57,90.07,87.31,83.46,81.57,82.01,...,99.47,100.05,98.95,96.51,93.59,90.99,90.51,86.4657,...,...
9,..Region I,Region 6: Western Visayas,97.73,91.33,89.64,88.52,86.98,84.87,82.74,83.14,...,97.39,97.84,96.78,94.84,92.50,90.48,89.99,86.2185,...,...
10,NaN,Region 7: Central Visayas,98.41,91.44,89.89,88.65,86.96,84.80,82.89,83.30,...,97.54,98.25,97.18,95.50,93.13,91.26,90.35,86.6105,...,...
11,NaN,Region 8: Eastern Visayas,97.01,91.23,89.37,88.39,87.01,84.95,82.58,82.97,...,97.23,97.40,96.36,94.14,91.83,89.67,89.61,85.8033,...,...
12,..Region II,Region 9: Zamboanga Peninsula,95.65,89.45,86.71,85.65,82.90,79.92,77.70,77.53,...,100.08,101.15,102.42,100.26,98.45,96.86,97.17,93.6348,...,...
13,NaN,Region 10: Northern Mindanao,95.57,88.99,86.24,85.20,82.47,79.52,77.39,77.19,...,100.00,101.04,102.50,100.68,98.73,97.32,97.31,94.0530,...,...
14,NaN,Region 11: Davao Region,95.74,89.94,87.20,86.13,83.35,80.34,78.03,77.89,...,100.17,101.26,102.33,99.82,98.15,96.36,97.02,93.1946,...,...
15,..Region III,Region 12: SOCCSKSARGEN,98.32,86.35,93.58,93.61,92.03,90.77,89.14,91.37,...,99.03,99.56,98.84,98.53,97.91,98.77,100.03,95.4067,...,...
16,NaN,CARAGA: Cordillera Administrative Region,98.77,86.21,93.30,93.29,91.76,90.38,88.82,91.01,...,98.83,99.36,98.66,98.62,97.95,99.20,100.02,95.4649,...,...
17,NaN,BARMM: Bangsamoro Autonomous Region in Muslim ...,97.85,86.5,93.88,93.95,92.31,91.17,89.47,91.76,...,99.24,99.77,99.02,98.44,97.87,98.32,100.03,95.3453,...,...

,Geolocation,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015.0,2016,2017,2018.0,2019,2020,2021,2022
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,23.5,NaN,NaN,16.7,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.1,NaN,NaN,2.2,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,22.7,NaN,NaN,12.0,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,18.8,NaN,NaN,9.9,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,17.8,NaN,NaN,16.3,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,10.5,NaN,NaN,7.0,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,12.5,NaN,NaN,7.1,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,25.2,NaN,NaN,15.1,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,39.8,NaN,NaN,27.0,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,24.6,NaN,NaN,16.3,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,29.4,NaN,NaN,17.7,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,41.3,NaN,NaN,30.7,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.7,NaN,NaN,32.7,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,38.7,NaN,NaN,23.1,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,23.5,NaN,NaN,19.1,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,38.1,NaN,NaN,28.2,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,39.7,NaN,NaN,30.5,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,59.4,NaN,NaN,61.8,NaN,NaN,NaN,NaN