In [29]:
import os
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from scipy.stats import zscore

# Combining the Datasets

In [30]:
'''
STEPS:
-> change the filename into something shorter (if sdg, only the "number")
1. load the data to a variable
2. make the first row into the column header
3. drop the first row that was made into the column header + other irrelevant rows
4. reset the index
5. change the region names para same lahat ng datasets
'''
data = pd.read_csv(os.getenv('DSDATA_PROJ') + '/1.2.1.csv')
data.head()

,1.2.1 Proportion of population living below the national poverty line by sex age 1/,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Year,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015.0,2016,2017,2018.0,2019,2020,2021,2022
1,Geolocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PHILIPPINES,..,..,..,..,..,..,..,..,..,...,..,..,23.5,..,..,16.7,..,..,...,..
3,..National Capital Region (NCR),..,..,..,..,..,..,..,..,..,...,..,..,4.1,..,..,2.2,..,..,...,..
4,..Cordillera Administrative Region (CAR),..,..,..,..,..,..,..,..,..,...,..,..,22.7,..,..,12.0,..,..,...,..

In [31]:
# NOTE: Before applying, make sure that the arrangement of the regions are the same as the arrangement in your table
region_names = ['PHILIPPINES', 'NCR: National Capital Region', 
                 'CAR: Cordillera Administrative Region', 
                 'Region 1: Ilocos Region', 
                 'Region 2: Cagayan Valley', 
                 'Region 3: Central Luzon', 
                 'Region 4A: CALABARZON', 
                'MIMAROPA: Southwestern Tagalog Region', 
                'Region 5: Bicol Region', 
                'Region 6: Western Visayas', 
                'Region 7: Central Visayas', 
                'Region 8: Eastern Visayas', 
                'Region 9: Zamboanga Peninsula', 
                'Region 10: Northern Mindanao', 
                'Region 11: Davao Region', 
                'Region 12: SOCCSKSARGEN', 
                'CARAGA: Cordillera Administrative Region', 
                'BARMM: Bangsamoro Autonomous Region in Muslim Mindanao']

In [32]:
data.columns = data.iloc [0]
data = data.drop (data.index [1])
data = data.drop (data.index [0])
data.reset_index (drop=True, inplace=True)
data = data.drop (data.index [18:]) # irrelevant rows 
data

,Year,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015.0,2016,2017,2018.0,2019,2020,2021,2022
0,PHILIPPINES,..,..,..,..,..,..,..,..,..,...,..,..,23.5,..,..,16.7,..,..,...,..
1,..National Capital Region (NCR),..,..,..,..,..,..,..,..,..,...,..,..,4.1,..,..,2.2,..,..,...,..
2,..Cordillera Administrative Region (CAR),..,..,..,..,..,..,..,..,..,...,..,..,22.7,..,..,12.0,..,..,...,..
3,..Region I,..,..,..,..,..,..,..,..,..,...,..,..,18.8,..,..,9.9,..,..,...,..
4,..Region II,..,..,..,..,..,..,..,..,..,...,..,..,17.8,..,..,16.3,..,..,...,..
5,..Region III,..,..,..,..,..,..,..,..,..,...,..,..,10.5,..,..,7.0,..,..,...,..
6,..Region IV-A,..,..,..,..,..,..,..,..,..,...,..,..,12.5,..,..,7.1,..,..,...,..
7,..MIMAROPA,..,..,..,..,..,..,..,..,..,...,..,..,25.2,..,..,15.1,..,..,...,..
8,..Region V,..,..,..,..,..,..,..,..,..,...,..,..,39.8,..,..,27.0,..,..,...,..
9,..Region VI,..,..,..,..,..,..,..,..,..,...,..,..,24.6,..,..,16.3,..,..,...,..
10,..Region VII,..,..,..,..,..,..,..,..,..,...,..,..,29.4,..,..,17.7,..,..,...,..
11,..Region VIII,..,..,..,..,..,..,..,..,..,...,..,..,41.3,..,..,30.7,..,..,...,..
12,..Region IX,..,..,..,..,..,..,..,..,..,...,..,..,37.7,..,..,32.7,..,..,...,..
13,..Region X,..,..,..,..,..,..,..,..,..,...,..,..,38.7,..,..,23.1,..,..,...,..
14,..Region XI,..,..,..,..,..,..,..,..,..,...,..,..,23.5,..,..,19.1,..,..,...,..
15,..Region XII,..,..,..,..,..,..,..,..,..,...,..,..,38.1,..,..,28.2,..,..,...,..
16,..Caraga,..,..,..,..,..,..,..,..,..,...,..,..,39.7,..,..,30.5,..,..,...,..
17,..BARMM,..,..,..,..,..,..,..,..,..,...,..,..,59.4,..,..,61.8,..,..,...,..

In [26]:
data = data.rename(columns = {'Year':'Geolocation'}, inplace=True)
data

TypeError: 'NoneType' object does not support item assignment

In [7]:
print(data)

None