# Progress of the Philippines' Sustainable Development Goals

### Import

In [245]:
import os
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from scipy.stats import zscore

## Data Collection
The following **csv** files used in this project are acquired through a request sent to the Knowledge Management and Communications Division of the Philippine Statistics Authority.

### Combining the Datasets 
In this stage, the separate datasets underwent pre-processing and cleaning before they are combined together. Some of the cleaning done on each of the datasets are: (1) fixing of column names, (2) modification of the values of the 'Geolocation' column, (3) removal of unneeded rows and columns, and (4) conversion of '..' or '...' values to NaN. After this, the dataset is converted into a long representation before they are merged together.

#### 1.2.1. Proportion of population living below the national poverty line 
To start with, let us load the data from the csv file using pandas' [`read_csv`](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) function.

The [`os.getenv`](https://docs.python.org/3/library/os.html) function was used to get the environment variable `DSDATA_PROJ`, which points to the data folder of this project.

In [246]:
data = pd.read_csv(os.getenv('DSDATA_PROJ') + '/1.2.1.csv')
data

,1.2.1 Proportion of population living below the national poverty line by sex age 1/,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Year,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015.0,2016,2017,2018.0,2019,2020,2021,2022
1,Geolocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PHILIPPINES,..,..,..,..,..,..,..,..,..,...,..,..,23.5,..,..,16.7,..,..,...,..
3,..National Capital Region (NCR),..,..,..,..,..,..,..,..,..,...,..,..,4.1,..,..,2.2,..,..,...,..
4,..Cordillera Administrative Region (CAR),..,..,..,..,..,..,..,..,..,...,..,..,22.7,..,..,12.0,..,..,...,..
5,..Region I,..,..,..,..,..,..,..,..,..,...,..,..,18.8,..,..,9.9,..,..,...,..
6,..Region II,..,..,..,..,..,..,..,..,..,...,..,..,17.8,..,..,16.3,..,..,...,..
7,..Region III,..,..,..,..,..,..,..,..,..,...,..,..,10.5,..,..,7.0,..,..,...,..
8,..Region IV-A,..,..,..,..,..,..,..,..,..,...,..,..,12.5,..,..,7.1,..,..,...,..
9,..MIMAROPA,..,..,..,..,..,..,..,..,..,...,..,..,25.2,..,..,15.1,..,..,...,..
10,..Region V,..,..,..,..,..,..,..,..,..,...,..,..,39.8,..,..,27.0,..,..,...,..
11,..Region VI,..,..,..,..,..,..,..,..,..,...,..,..,24.6,..,..,16.3,..,..,...,..
12,..Region VII,..,..,..,..,..,..,..,..,..,...,..,..,29.4,..,..,17.7,..,..,...,..
13,..Region VIII,..,..,..,..,..,..,..,..,..,...,..,..,41.3,..,..,30.7,..,..,...,..
14,..Region IX,..,..,..,..,..,..,..,..,..,...,..,..,37.7,..,..,32.7,..,..,...,..
15,..Region X,..,..,..,..,..,..,..,..,..,...,..,..,38.7,..,..,23.1,..,..,...,..
16,..Region XI,..,..,..,..,..,..,..,..,..,...,..,..,23.5,..,..,19.1,..,..,...,..
17,..Region XII,..,..,..,..,..,..,..,..,..,...,..,..,38.1,..,..,28.2,..,..,...,..
18,..Caraga,..,..,..,..,..,..,..,..,..,...,..,..,39.7,..,..,30.5,..,..,...,..
19,..BARMM,..,..,..,..,..,..,..,..,..,...,..,..,59.4,..,..,61.8,..,..,...,..
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Notes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,.. - Data not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,... - Data not yet available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1/ Revised/updated based on the following: a) ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Looking at the DataFrame, we could see that the columns are unnamed and that the column names are located at the 0th row. Using [`iloc`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html), we could get the 0th row and then assign it as the column values. 

Then, using the [`drop`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html) function, we can drop the 0th row as we have no need for it anymore. Additionally, since the row at index 1 is a row full of NaN, we can also drop it using the same function. 

To be able to fix the indexing of the rows, the [`reset_index`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html) function was used to reset the index from 0.

In [247]:
# setting our column names
data.columns = data.iloc [0] 

# dropping the 'geolocation' row as that is actually used as a header
data = data.drop (data.index [1])

# dropping the column names 
data = data.drop (data.index [0])

data.reset_index (drop=True, inplace=True)

Irrelevant rows that are just footers for the file are also removed.

In [248]:
# dropping irrelevant rows 
data = data.drop (data.index [18:])

The `Year` column must also be renamed into `Geolocation` as this row refers to the different regions in the Philippines, and not the years. This can be done through the use of the of the [`rename`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html) function.

In [249]:
# renames the column 'Year' as its actually the location column
data.rename(columns = {'Year':'Geolocation'}, inplace=True)

To easily determine which region the `Geolocation` values refer to, we can also change these values to include the names that they are commonly referred to, instead of just their region numbers. 

For consistency throughout the different datasets, the `region_names` variable was declared.

In [250]:
# NOTE: Before applying, make sure that the arrangement of the regions are the same as the arrangement in your table
region_names = ['PHILIPPINES', 'NCR: National Capital Region', 
                 'CAR: Cordillera Administrative Region', 
                 'Region 1: Ilocos Region', 
                 'Region 2: Cagayan Valley', 
                 'Region 3: Central Luzon', 
                 'Region 4A: CALABARZON', 
                'MIMAROPA: Southwestern Tagalog Region', 
                'Region 5: Bicol Region', 
                'Region 6: Western Visayas', 
                'Region 7: Central Visayas', 
                'Region 8: Eastern Visayas', 
                'Region 9: Zamboanga Peninsula', 
                'Region 10: Northern Mindanao', 
                'Region 11: Davao Region', 
                'Region 12: SOCCSKSARGEN', 
                'CARAGA: Cordillera Administrative Region', 
                'BARMM: Bangsamoro Autonomous Region in Muslim Mindanao']

In [251]:
# renames the data in the Geolocation for consistency
data['Geolocation'] = region_names
data.set_index('Geolocation')
data = data.reset_index(drop=True)
data

,Geolocation,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015.0,2016,2017,2018.0,2019,2020,2021,2022
0,PHILIPPINES,..,..,..,..,..,..,..,..,..,...,..,..,23.5,..,..,16.7,..,..,...,..
1,NCR: National Capital Region,..,..,..,..,..,..,..,..,..,...,..,..,4.1,..,..,2.2,..,..,...,..
2,CAR: Cordillera Administrative Region,..,..,..,..,..,..,..,..,..,...,..,..,22.7,..,..,12.0,..,..,...,..
3,Region 1: Ilocos Region,..,..,..,..,..,..,..,..,..,...,..,..,18.8,..,..,9.9,..,..,...,..
4,Region 2: Cagayan Valley,..,..,..,..,..,..,..,..,..,...,..,..,17.8,..,..,16.3,..,..,...,..
5,Region 3: Central Luzon,..,..,..,..,..,..,..,..,..,...,..,..,10.5,..,..,7.0,..,..,...,..
6,Region 4A: CALABARZON,..,..,..,..,..,..,..,..,..,...,..,..,12.5,..,..,7.1,..,..,...,..
7,MIMAROPA: Southwestern Tagalog Region,..,..,..,..,..,..,..,..,..,...,..,..,25.2,..,..,15.1,..,..,...,..
8,Region 5: Bicol Region,..,..,..,..,..,..,..,..,..,...,..,..,39.8,..,..,27.0,..,..,...,..
9,Region 6: Western Visayas,..,..,..,..,..,..,..,..,..,...,..,..,24.6,..,..,16.3,..,..,...,..
10,Region 7: Central Visayas,..,..,..,..,..,..,..,..,..,...,..,..,29.4,..,..,17.7,..,..,...,..
11,Region 8: Eastern Visayas,..,..,..,..,..,..,..,..,..,...,..,..,41.3,..,..,30.7,..,..,...,..
12,Region 9: Zamboanga Peninsula,..,..,..,..,..,..,..,..,..,...,..,..,37.7,..,..,32.7,..,..,...,..
13,Region 10: Northern Mindanao,..,..,..,..,..,..,..,..,..,...,..,..,38.7,..,..,23.1,..,..,...,..
14,Region 11: Davao Region,..,..,..,..,..,..,..,..,..,...,..,..,23.5,..,..,19.1,..,..,...,..
15,Region 12: SOCCSKSARGEN,..,..,..,..,..,..,..,..,..,...,..,..,38.1,..,..,28.2,..,..,...,..
16,CARAGA: Cordillera Administrative Region,..,..,..,..,..,..,..,..,..,...,..,..,39.7,..,..,30.5,..,..,...,..
17,BARMM: Bangsamoro Autonomous Region in Muslim ...,..,..,..,..,..,..,..,..,..,...,..,..,59.4,..,..,61.8,..,..,...,..

Next, we can convert the strings of '..' and '...', which were used to represent that there were no values for these cells, to **NaN**, through the use of the [`replace`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html) function.

However, the columns that have all **NaN** values were not dropped because if this dataset would be combined with other datasets, all years would still be present as there are datasets with complete data for all the years. Additionally, dropping the years for some of the dataset would result in the combined dataset having a weird sorting (i.e., a sorting of the region that does not follow the usual sorting of the datasets in the Philippines), even if it was sorted based on the `Year` and `Geolocation` column.

In [252]:
for c in data.columns.difference(['Geolocation']):
    # cells without values are represented as either '..' or '...', so we should convert them to NaN so we could dropna()
    data [c].replace(to_replace='..', value= np.nan, inplace= True)
    data [c].replace(to_replace='...', value= np.nan, inplace= True)

# drops columns if all of the values are NaN
# data = data.dropna(axis=1)

In [253]:
data

,Geolocation,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015.0,2016,2017,2018.0,2019,2020,2021,2022
0,PHILIPPINES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,23.5,NaN,NaN,16.7,NaN,NaN,NaN,NaN
1,NCR: National Capital Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.1,NaN,NaN,2.2,NaN,NaN,NaN,NaN
2,CAR: Cordillera Administrative Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,22.7,NaN,NaN,12.0,NaN,NaN,NaN,NaN
3,Region 1: Ilocos Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,18.8,NaN,NaN,9.9,NaN,NaN,NaN,NaN
4,Region 2: Cagayan Valley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,17.8,NaN,NaN,16.3,NaN,NaN,NaN,NaN
5,Region 3: Central Luzon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,10.5,NaN,NaN,7.0,NaN,NaN,NaN,NaN
6,Region 4A: CALABARZON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,12.5,NaN,NaN,7.1,NaN,NaN,NaN,NaN
7,MIMAROPA: Southwestern Tagalog Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,25.2,NaN,NaN,15.1,NaN,NaN,NaN,NaN
8,Region 5: Bicol Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,39.8,NaN,NaN,27.0,NaN,NaN,NaN,NaN
9,Region 6: Western Visayas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,24.6,NaN,NaN,16.3,NaN,NaN,NaN,NaN
10,Region 7: Central Visayas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,29.4,NaN,NaN,17.7,NaN,NaN,NaN,NaN
11,Region 8: Eastern Visayas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,41.3,NaN,NaN,30.7,NaN,NaN,NaN,NaN
12,Region 9: Zamboanga Peninsula,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.7,NaN,NaN,32.7,NaN,NaN,NaN,NaN
13,Region 10: Northern Mindanao,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,38.7,NaN,NaN,23.1,NaN,NaN,NaN,NaN
14,Region 11: Davao Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,23.5,NaN,NaN,19.1,NaN,NaN,NaN,NaN
15,Region 12: SOCCSKSARGEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,38.1,NaN,NaN,28.2,NaN,NaN,NaN,NaN
16,CARAGA: Cordillera Administrative Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,39.7,NaN,NaN,30.5,NaN,NaN,NaN,NaN
17,BARMM: Bangsamoro Autonomous Region in Muslim ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,59.4,NaN,NaN,61.8,NaN,NaN,NaN,NaN

As the final step, the wide representation of this dataset is converted to a long representation through the use of the [`melt`](https://pandas.pydata.org/docs/reference/api/pandas.melt.html) function. 

Then, the column that holds the value for a specific year and region is coverted, using [`rename`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html), to the ID of this Sustainable Development Goal (SDG), so that it can be distinguished when it is combined with other datasets.

In [254]:
# converting from a wide representation to a long representation
data = pd.melt(data, id_vars='Geolocation', value_vars=data.columns [2:]) 

# renaming the columns into a more readable anmes
data.rename(columns = {'value':'1.2.1', 0 : 'Year'}, inplace=True)

# making the year type into integer
data = data.astype({'Year':'int'})

data

                                           Geolocation  Year  1.2.1
0                                          PHILIPPINES  2001    NaN
1                         NCR: National Capital Region  2001    NaN
2                CAR: Cordillera Administrative Region  2001    NaN
3                              Region 1: Ilocos Region  2001    NaN
4                             Region 2: Cagayan Valley  2001    NaN
..                                                 ...   ...    ...
391                       Region 10: Northern Mindanao  2022    NaN
392                            Region 11: Davao Region  2022    NaN
393                            Region 12: SOCCSKSARGEN  2022    NaN
394           CARAGA: Cordillera Administrative Region  2022    NaN
395  BARMM: Bangsamoro Autonomous Region in Muslim ...  2022    NaN

[396 rows x 3 columns]

As this is the first dataset, we can just assign it to the `combined_data` DataFrame, which would hold the combined datasets.

In [255]:
combined_data = data

#### 1.4.1p5. Net Enrolment Rate in elementary

Using the same [`read_csv`](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) function, we load the next dataset.

In [256]:
data = pd.read_csv(os.getenv('DSDATA_PROJ') + '/1.4.1p5.csv')
data

,1.4.1p5 Net Enrolment Rate in elementary (Indicator is also found in SDG 4.3.s1) 1/,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,NaN,Year,2000,2001,2002.00,2003.00,2004.00,2005.00,2006.00,2007.00,...,2013.00,2014.00,2015.00,2016.00,2017.00,2018.00,2019.00,2020.0000,2021,2022
1,Geolocation,Sex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PHILIPPINES,Both Sexes,96.77,90.1,90.29,88.74,87.11,84.44,83.22,84.93,...,97.20,97.19,96.90,96.15,94.19,94.05,93.96,89.1064,...,...
3,NaN,Boys,96.27,89.33,89.51,87.84,86.17,83.56,82.39,84.07,...,96.74,96.87,96.66,96.17,94.12,94.25,93.79,88.9318,...,...
4,NaN,Girls,97.28,90.91,91.10,89.68,88.08,85.35,84.08,85.83,...,97.68,97.53,97.15,96.12,94.27,93.85,94.15,89.2898,...,...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,Note:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,.. - Data not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,... - Data not yet available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,1/ - Updates were based on the submission of D...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,2/ - Computation for Region IV-A and MIMAROPA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

From the DataFrame above, we can see that the footer of the .csv files was included in the DataFrame. As the rows from the 56th index are irrelevant, we can [`drop`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html) them.

In [257]:
data = data.drop (data.index [56:])

Additionally, we can see that the columns are unnamed, and upon inspection, the original column names can be found at `Index 0`. Thus, we can set the columns to this row, and then  [`drop`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html) the `Index 0` row as it would only be redundant and might affect the computations.

The [`reset_index`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html) function was used in order to make the index of the rows start from 0.

In [258]:
# setting the column names and removing the row that held the previous column names
data.columns = data.loc[0]
data = data.drop (data.index[0])
data = data.reset_index (drop=True)
data

,NaN,Year,2000,2001,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021,2022
0,Geolocation,Sex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PHILIPPINES,Both Sexes,96.77,90.1,90.29,88.74,87.11,84.44,83.22,84.93,...,97.20,97.19,96.90,96.15,94.19,94.05,93.96,89.1064,...,...
2,NaN,Boys,96.27,89.33,89.51,87.84,86.17,83.56,82.39,84.07,...,96.74,96.87,96.66,96.17,94.12,94.25,93.79,88.9318,...,...
3,NaN,Girls,97.28,90.91,91.10,89.68,88.08,85.35,84.08,85.83,...,97.68,97.53,97.15,96.12,94.27,93.85,94.15,89.2898,...,...
4,..National Capital Region (NCR),Both Sexes,101,97.82,97.38,96.81,94.82,92.61,92.89,94.42,...,99.64,99.01,99.85,95.92,92.83,92.11,89.91,81.1478,...,...
5,NaN,Boys,100.13,96.57,96.52,95.81,93.75,91.65,92.00,93.21,...,98.77,98.13,98.80,95.30,92.20,91.85,89.43,80.6316,...,...
6,NaN,Girls,101.92,99.13,98.28,97.87,95.95,93.63,93.83,95.69,...,100.57,99.95,100.95,96.58,93.50,92.38,90.42,81.6903,...,...
7,..Cordillera Administrative Region (CAR),Both Sexes,94.42,92.89,91.52,89.19,86.40,82.58,80.86,81.50,...,99.66,100.16,99.19,97.24,94.37,92.24,91.40,87.5276,...,...
8,NaN,Boys,94.26,91.96,90.53,88.36,85.52,81.75,80.19,81.01,...,99.85,100.27,99.42,97.94,95.13,93.45,92.25,88.5518,...,...
9,NaN,Girls,94.58,93.88,92.57,90.07,87.31,83.46,81.57,82.01,...,99.47,100.05,98.95,96.51,93.59,90.99,90.51,86.4657,...,...
10,..Region I,Both Sexes,97.73,91.33,89.64,88.52,86.98,84.87,82.74,83.14,...,97.39,97.84,96.78,94.84,92.50,90.48,89.99,86.2185,...,...
11,NaN,Boys,98.41,91.44,89.89,88.65,86.96,84.80,82.89,83.30,...,97.54,98.25,97.18,95.50,93.13,91.26,90.35,86.6105,...,...
12,NaN,Girls,97.01,91.23,89.37,88.39,87.01,84.95,82.58,82.97,...,97.23,97.40,96.36,94.14,91.83,89.67,89.61,85.8033,...,...
13,..Region II,Both Sexes,95.65,89.45,86.71,85.65,82.90,79.92,77.70,77.53,...,100.08,101.15,102.42,100.26,98.45,96.86,97.17,93.6348,...,...
14,NaN,Boys,95.57,88.99,86.24,85.20,82.47,79.52,77.39,77.19,...,100.00,101.04,102.50,100.68,98.73,97.32,97.31,94.0530,...,...
15,NaN,Girls,95.74,89.94,87.20,86.13,83.35,80.34,78.03,77.89,...,100.17,101.26,102.33,99.82,98.15,96.36,97.02,93.1946,...,...
16,..Region III,Both Sexes,98.32,86.35,93.58,93.61,92.03,90.77,89.14,91.37,...,99.03,99.56,98.84,98.53,97.91,98.77,100.03,95.4067,...,...
17,NaN,Boys,98.77,86.21,93.30,93.29,91.76,90.38,88.82,91.01,...,98.83,99.36,98.66,98.62,97.95,99.20,100.02,95.4649,...,...
18,NaN,Girls,97.85,86.5,93.88,93.95,92.31,91.17,89.47,91.76,...,99.24,99.77,99.02,98.44,97.87,98.32,100.03,95.3453,...,...
19,..Region IV-A 2/,Both Sexes,98.5,93.44,95.97,95.33,95.10,92.87,92.36,94.02,...,96.09,97.09,96.36,97.20,96.31,97.36,98.23,91.9912,...,...
20,NaN,Boys,97.98,92.96,95.43,94.73,94.60,92.22,91.80,93.45,...,95.48,96.67,95.90,96.94,96.04,97.34,97.87,91.5134,...,...
21,NaN,Girls,99.04,93.93,96.54,95.96,95.63,93.55,92.95,94.62,...,96.75,97.53,96.84,97.46,96.59,97.37,98.61,92.4970,...,...
22,..MIMAROPA 2/,Both Sexes,..,..,91.52,89.42,88.00,84.39,83.84,84.07,...,95.77,95.58,96.56,94.98,92.33,90.99,90.26,86.2074,...,...
23,NaN,Boys,..,..,91.34,88.74,87.10,83.55,82.98,83.28,...,95.71,95.48,96.42,95.07,92.24,90.88,89.79,85.8247,...,...
24,NaN,Girls,..,..,91.70,90.13,88.94,85.28,84.75,84.90,...,95.83,95.68,96.71,94.88,92.44,91.10,90.75,86.6139,...,...
25,..Region V,Both Sexes,95.56,91.77,90.95,89.30,87.78,85.43,83.80,85.41,...,98.53,98.25,96.41,95.77,93.56,93.12,92.68,87.2573,...,...
26,NaN,Boys,95.8,90.83,90.00,88.29,86.71,84.30,82.82,84.57,...,98.67,98.34,96.75,96.38,94.13,93.82,93.09,87.6157,...,...
27,NaN,Girls,95.31,92.77,91.95,90.37,88.90,86.62,84.84,86.29,...,98.39,98.16,96.04,95.12,92.96,92.38,92.25,86.8802,...,...
28,..Region VI,Both Sexes,96.16,89.6,85.95,83.25,80.49,77.14,74.96,75.44,...,97.71,98.47,98.89,99.09,97.16,97.38,97.25,93.9281,...,...
29,NaN,Boys,96.28,88.85,85.24,82.60,79.88,76.53,74.45,75.00,...,97.56,98.64,99.27,99.72,97.64,98.24,97.74,94.3939,...,...
30,NaN,Girls,96.03,90.37,86.70,83.92,81.13,77.77,75.49,75.90,...,97.88,98.28,98.50,98.42,96.66,96.47,96.75,93.4375,...,...
31,..Region VII,Both Sexes,98.6,88.56,88.09,85.57,83.53,80.08,78.87,80.28,...,100.97,101.62,102.14,101.55,98.41,98.17,98.07,92.9937,...,...
32,NaN,Boys,97.17,88.01,87.54,84.90,82.88,79.37,78.28,79.68,...,100.59,101.32,102.01,101.69,98.47,98.62,98.08,92.9990,...,...
33,NaN,Girls,99.99,89.13,88.66,86.26,84.20,80.81,79.48,80.91,...,101.36,101.93,102.28,101.41,98.35,97.69,98.05,92.9882,...,...
34,..Region VIII,Both Sexes,94.58,86.98,85.91,83.74,83.44,80.03,78.15,79.19,...,95.70,95.99,95.03,94.00,92.64,91.53,91.60,89.0772,...,...
35,NaN,Boys,93.67,85.61,84.54,81.99,81.53,78.22,76.48,77.86,...,95.49,95.82,94.81,94.19,92.76,91.82,91.44,89.1237,...,...
36,NaN,Girls,95.53,88.42,87.35,85.57,85.44,81.93,79.90,80.59,...,95.93,96.18,95.27,93.79,92.50,91.23,91.76,89.0283,...,...
37,..Region IX,Both Sexes,93.44,90.22,89.74,84.83,82.83,79.14,77.59,78.99,...,91.62,93.86,92.46,91.24,90.30,91.24,91.70,89.1941,...,...
38,NaN,Boys,93.06,89.93,89.43,84.02,81.94,78.30,76.78,78.37,...,91.41,94.04,92.78,91.56,90.21,91.25,91.22,88.7060,...,...
39,NaN,Girls,93.82,90.52,90.07,85.66,83.74,80.00,78.42,79.63,...,91.83,93.67,92.13,90.91,90.40,91.23,92.20,89.7044,...,...
40,..Region X,Both Sexes,95.6,93.58,89.04,86.92,84.16,80.20,78.96,80.60,...,94.00,94.31,94.79,96.57,96.43,97.73,99.23,97.0819,...,...
41,NaN,Boys,95.98,92.92,88.59,85.96,83.39,79.36,78.01,79.66,...,94.18,94.73,95.43,97.58,97.15,98.93,100.10,97.9734,...,...
42,NaN,Girls,95.19,94.27,89.50,87.92,84.95,81.08,79.96,81.58,...,93.82,93.86,94.13,95.52,95.68,96.49,98.33,96.1691,...,...
43,..Region XI,Both Sexes,93.89,84.7,84.96,84.36,82.54,79.01,75.89,77.38,...,100.65,99.78,101.34,100.06,96.88,95.61,93.87,86.2660,...,...
44,NaN,Boys,93.42,83.76,83.97,83.03,81.17,77.71,74.79,76.44,...,100.44,99.41,101.04,99.92,96.59,95.47,93.15,85.4676,...,...
45,NaN,Girls,94.38,85.68,85.99,85.74,83.97,80.35,77.04,78.36,...,100.87,100.17,101.66,100.20,97.19,95.76,94.63,87.1074,...,...
46,..Region XII,Both Sexes,97.34,86.78,82.01,81.18,79.99,77.43,76.35,78.65,...,90.52,92.95,93.78,93.30,91.86,92.04,92.24,88.7282,...,...
47,NaN,Boys,96.33,85.74,80.89,79.80,78.34,75.77,74.93,77.40,...,89.64,92.29,93.47,93.07,91.44,91.98,91.82,88.3066,...,...
48,NaN,Girls,98.38,87.85,83.18,82.61,81.70,79.15,77.82,79.94,...,91.43,93.64,94.09,93.53,92.30,92.10,92.68,89.1700,...,...
49,..Caraga,Both Sexes,92.92,83.12,80.73,78.04,75.08,74.80,77.76,81.46,...,96.86,98.10,98.85,97.85,95.89,94.74,94.84,92.0358,...,...
50,NaN,Boys,92.49,82.55,80.17,77.85,74.61,74.49,77.96,80.82,...,97.02,98.49,99.56,99.00,96.69,95.76,95.46,92.8585,...,...
51,NaN,Girls,93.35,83.72,81.31,78.23,75.56,75.12,77.55,82.15,...,96.70,97.69,98.11,96.65,95.07,93.68,94.20,91.1842,...,...
52,..BARMM,Both Sexes,91.28,83.68,92.72,90.13,90.01,87.26,85.82,94.01,...,92.86,81.54,76.51,77.29,72.63,73.24,71.51,69.1673,...,...
53,NaN,Boys,86.19,79.89,88.29,85.92,85.84,84.63,81.84,89.44,...,88.47,77.77,72.92,73.86,69.51,70.19,68.42,66.1032,...,...
54,NaN,Girls,96.5,87.46,97.15,94.34,94.19,89.90,89.80,98.60,...,97.32,85.37,80.16,80.79,75.82,76.39,74.70,72.3588,...,...

However, these is still a row of NaN found at `Index 0`, and we can see that the column names for the first two columns are not correct for the values underneath it, as the ones under the first column are actually Geolocations and those under the second columns are the values for Sex. Thus, we can [`rename`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html) it, and then [`drop`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html)  the row at `Index 0`.

In [259]:
data = data.rename(columns = {np.nan:'Geolocation', 'Year': 'Sex'})
data = data.drop (data.index[0])
data = data.reset_index (drop=True)

As we would only need the data that is grouped by region and not by sex, we would only be getting the rows that has **Both Sexes** as the value in the Sex column. After this, we can [`drop`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html) the Sex column as it would not be used onwards.

In [260]:
# Only getting the total data, then dropping Sex column as it's not needed anymore
data = data[data['Sex'] == 'Both Sexes']
data = data.drop("Sex", axis = 1)
data = data.reset_index (drop=True)
data

,Geolocation,2000,2001,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021,2022
0,PHILIPPINES,96.77,90.1,90.29,88.74,87.11,84.44,83.22,84.93,85.11,...,97.20,97.19,96.90,96.15,94.19,94.05,93.96,89.1064,...,...
1,..National Capital Region (NCR),101,97.82,97.38,96.81,94.82,92.61,92.89,94.42,93.69,...,99.64,99.01,99.85,95.92,92.83,92.11,89.91,81.1478,...,...
2,..Cordillera Administrative Region (CAR),94.42,92.89,91.52,89.19,86.40,82.58,80.86,81.50,81.93,...,99.66,100.16,99.19,97.24,94.37,92.24,91.40,87.5276,...,...
3,..Region I,97.73,91.33,89.64,88.52,86.98,84.87,82.74,83.14,82.85,...,97.39,97.84,96.78,94.84,92.50,90.48,89.99,86.2185,...,...
4,..Region II,95.65,89.45,86.71,85.65,82.90,79.92,77.70,77.53,76.23,...,100.08,101.15,102.42,100.26,98.45,96.86,97.17,93.6348,...,...
5,..Region III,98.32,86.35,93.58,93.61,92.03,90.77,89.14,91.37,90.93,...,99.03,99.56,98.84,98.53,97.91,98.77,100.03,95.4067,...,...
6,..Region IV-A 2/,98.5,93.44,95.97,95.33,95.10,92.87,92.36,94.02,94.10,...,96.09,97.09,96.36,97.20,96.31,97.36,98.23,91.9912,...,...
7,..MIMAROPA 2/,..,..,91.52,89.42,88.00,84.39,83.84,84.07,85.42,...,95.77,95.58,96.56,94.98,92.33,90.99,90.26,86.2074,...,...
8,..Region V,95.56,91.77,90.95,89.30,87.78,85.43,83.80,85.41,85.07,...,98.53,98.25,96.41,95.77,93.56,93.12,92.68,87.2573,...,...
9,..Region VI,96.16,89.6,85.95,83.25,80.49,77.14,74.96,75.44,74.93,...,97.71,98.47,98.89,99.09,97.16,97.38,97.25,93.9281,...,...
10,..Region VII,98.6,88.56,88.09,85.57,83.53,80.08,78.87,80.28,81.38,...,100.97,101.62,102.14,101.55,98.41,98.17,98.07,92.9937,...,...
11,..Region VIII,94.58,86.98,85.91,83.74,83.44,80.03,78.15,79.19,80.33,...,95.70,95.99,95.03,94.00,92.64,91.53,91.60,89.0772,...,...
12,..Region IX,93.44,90.22,89.74,84.83,82.83,79.14,77.59,78.99,79.25,...,91.62,93.86,92.46,91.24,90.30,91.24,91.70,89.1941,...,...
13,..Region X,95.6,93.58,89.04,86.92,84.16,80.20,78.96,80.60,81.23,...,94.00,94.31,94.79,96.57,96.43,97.73,99.23,97.0819,...,...
14,..Region XI,93.89,84.7,84.96,84.36,82.54,79.01,75.89,77.38,78.00,...,100.65,99.78,101.34,100.06,96.88,95.61,93.87,86.2660,...,...
15,..Region XII,97.34,86.78,82.01,81.18,79.99,77.43,76.35,78.65,80.12,...,90.52,92.95,93.78,93.30,91.86,92.04,92.24,88.7282,...,...
16,..Caraga,92.92,83.12,80.73,78.04,75.08,74.80,77.76,81.46,76.14,...,96.86,98.10,98.85,97.85,95.89,94.74,94.84,92.0358,...,...
17,..BARMM,91.28,83.68,92.72,90.13,90.01,87.26,85.82,94.01,99.85,...,92.86,81.54,76.51,77.29,72.63,73.24,71.51,69.1673,...,...

To be able to merge this to the combined DataFrame, the value of the Geolocation column has been set to the same values.

In [261]:
data['Geolocation'] = region_names

Since the dataset represents missing values as either '...' or '..', we can [`replace`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html) the columns with these values with `np.nan`.

In [262]:
for c in data.columns.difference(['Geolocation']):
    # cells without values are represented as either '..' or '...', so we should convert them to NaN so we could dropna()
    data [c].replace(to_replace='..', value= np.nan, inplace= True)
    data [c].replace(to_replace='...', value= np.nan, inplace= True)

# data = data.dropna(axis=1, how = 'all')

Then, we can transform the wide representation of the DataFrame to its long representation version using the [`melt`](https://pandas.pydata.org/docs/reference/api/pandas.melt.html) function.

In [263]:
data = pd.melt(data, id_vars='Geolocation', value_vars=data.columns [2:]) 

data.rename(columns = {'value':'1.4.1p5', 0 : 'Year'}, inplace=True)
data = data.astype({'Year':'int'})

In [264]:
data

                                           Geolocation  Year 1.4.1p5
0                                          PHILIPPINES  2001    90.1
1                         NCR: National Capital Region  2001   97.82
2                CAR: Cordillera Administrative Region  2001   92.89
3                              Region 1: Ilocos Region  2001   91.33
4                             Region 2: Cagayan Valley  2001   89.45
..                                                 ...   ...     ...
391                       Region 10: Northern Mindanao  2022     NaN
392                            Region 11: Davao Region  2022     NaN
393                            Region 12: SOCCSKSARGEN  2022     NaN
394           CARAGA: Cordillera Administrative Region  2022     NaN
395  BARMM: Bangsamoro Autonomous Region in Muslim ...  2022     NaN

[396 rows x 3 columns]

Then we can [`merge`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html) this long representation DataFrame into the combined DataFrame. It would be merged with respect to the values in the **Geolocation** and **Year** column. An outer join is used as we want to retain all the values of both of the DataFrames, even if there would be **NaN** values for some of cells.

In [265]:
combined_data = combined_data.merge(data, how = 'outer', on = ['Geolocation', 'Year'])
combined_data = combined_data.reset_index (drop=True)

In [266]:
combined_data

                                           Geolocation  Year  1.2.1 1.4.1p5
0                                          PHILIPPINES  2001    NaN    90.1
1                         NCR: National Capital Region  2001    NaN   97.82
2                CAR: Cordillera Administrative Region  2001    NaN   92.89
3                              Region 1: Ilocos Region  2001    NaN   91.33
4                             Region 2: Cagayan Valley  2001    NaN   89.45
..                                                 ...   ...    ...     ...
391                       Region 10: Northern Mindanao  2022    NaN     NaN
392                            Region 11: Davao Region  2022    NaN     NaN
393                            Region 12: SOCCSKSARGEN  2022    NaN     NaN
394           CARAGA: Cordillera Administrative Region  2022    NaN     NaN
395  BARMM: Bangsamoro Autonomous Region in Muslim ...  2022    NaN     NaN

[396 rows x 4 columns]

#### 1.4.1p6. Net Enrolment Rate in secondary education (Indicator is also found in SDG 4.3.s2)

Next, we can load the third dataset.

In [267]:
data = pd.read_csv(os.getenv('DSDATA_PROJ') + '/1.4.1p6.csv')
data

,1.4.1p6 Net Enrolment Rate in secondary education (Indicator is also found in SDG 4.3.s2),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,NaN,NaN,Year,2000,2001,2002,2003,2004,2005,2006,...,2013,2014,2015,2016.00,2017.00,2018.00,2019.00,2020.0000,2021,2022
1,Level of Education,Geolocation,Sex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Junior High School,PHILIPPINES,Both Sexes,66.06,57.55,59,60.15,59.97,58.54,58.59,...,67.89,67.19,73.57,74.19,75.99,81.41,82.89,81.4869,...,...
3,NaN,NaN,Boys,62.72,52.96,54.39,55.34,55.04,53.65,53.85,...,62.42,61.68,68.09,68.79,70.88,77.24,78.80,77.6557,...,...
4,NaN,NaN,Girls,69.49,62.24,63.72,65.07,65.01,63.53,63.44,...,73.69,73.05,79.42,79.94,81.42,85.82,87.20,85.5003,...,...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,.. - Data not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,... - Data not yet available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,1/ - Updates were based on submission of DepEd...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,2/ - Estimation of this sub-indicator only sta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,3/ - Computation for Region IV-A and MIMAROPA ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Just like in the processing of the previous datasets, we first [`drop`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html) the unnecessary rows at the bottom part of the DataFrame.

In [268]:
data = data.drop (data.index [110:])

From the DataFrame above, we can see that the correct column headers are found at `Index 0`. However, upon inspection, we would see that there are two NaN values and the 'Year' value at the third column should actually be 'Sex' based on the values below it. Thus, before setting this row as the column header, we first correct the values of these first three columns using the [`at`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.at.html) function.

In [269]:
data.at[0, '1.4.1p6 Net Enrolment Rate in secondary education (Indicator is also found in SDG 4.3.s2)'] = 'Level of Education'
data.at[0, 'Unnamed: 1'] = 'Geolocation'
data.at[0, 'Unnamed: 2'] = 'Sex'

Now that first row can correctly act as the column header, we can set is as the column header, before dropping the row at `Index 0`. Then we must also [`drop`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html) the row of **NaN**s at `Index 1` as it is unnecessary, before using the [`reset_index`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html) function.

In [270]:
data.columns = data.loc[0]
data = data.drop (data.index[0])
data = data.reset_index (drop=True)

data = data.drop (data.index[0])
data = data.reset_index (drop=True)

Using the [`unique`](https://pandas.pydata.org/docs/reference/api/pandas.unique.html) function, we can see that there are two values for 'Level of Education' columns. To be able to combine this to the combined dataset, we must separate them as we cannot add another column that would hold the education level, thus, we can just add it as two different columns.

In [271]:
data ['Level of Education'].unique ()

array(['Junior High School', nan, 'Senior High School'], dtype=object)

In [272]:
senior_high_data = data [54:]
junior_high_data = data [:54]

Now, we must process these two separately, but the processes done to them would be the same.

First, as we only need the general data, without taking *Sex* into consideration. This can be done by only getting the rows that has **Both Sexes** as the value of the `Sex` column.

In [273]:
junior_high_data = junior_high_data [junior_high_data['Sex'] == 'Both Sexes']
junior_high_data = junior_high_data.reset_index (drop=True)

In [274]:
senior_high_data = senior_high_data [senior_high_data['Sex'] == 'Both Sexes']
senior_high_data = senior_high_data.reset_index (drop=True)

Next, as we have already separated the dataset into two based on the value of the `Level of Education` column, we have no need for this column anymore. This means that we can [`drop`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html) this column.

In [275]:
junior_high_data = junior_high_data.drop("Level of Education", axis = 1)
junior_high_data = junior_high_data.drop("Sex", axis = 1)
junior_high_data = junior_high_data.reset_index (drop=True)

In [276]:
senior_high_data = senior_high_data.drop("Level of Education", axis = 1)
senior_high_data = senior_high_data.drop("Sex", axis = 1)
senior_high_data = senior_high_data.reset_index (drop=True)

For consistency, we set the values of the `Geolocation` column to the format of the region names that we have decided before.

In [277]:
senior_high_data['Geolocation'] = region_names

In [278]:
junior_high_data['Geolocation'] = region_names

As the dataset represents missing values as '..' or '...', we must [`replace`](https://pandas.pydata.org/docs/reference/api/pandas.Series.replace.html) these values with `np.nan`.

In [279]:
for c in junior_high_data.columns.difference(['Geolocation']):
    junior_high_data [c].replace(to_replace='..', value= np.nan, inplace= True)
    junior_high_data [c].replace(to_replace='...', value= np.nan, inplace= True)

In [280]:
for c in senior_high_data.columns.difference(['Geolocation']):
    senior_high_data [c].replace(to_replace='..', value= np.nan, inplace= True)
    senior_high_data [c].replace(to_replace='...', value= np.nan, inplace= True)

Looking at the senior high data, we can see that all of the values are `NaN` from 2000 to 2016, which is to be expected as Senior High School was only implemented from 2016.

In [281]:
senior_high_data

,Geolocation,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016.0,2017.0,2018.0,2019.0,2020.0,2021,2022
0,PHILIPPINES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,37.38,46.12,51.24,47.76,49.4800,NaN,NaN
1,NCR: National Capital Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,55.32,62.74,68.63,62.28,56.4435,NaN,NaN
2,CAR: Cordillera Administrative Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,40.16,49.55,53.64,50.53,52.8763,NaN,NaN
3,Region 1: Ilocos Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,51.11,60.39,64.06,61.54,65.6379,NaN,NaN
4,Region 2: Cagayan Valley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,43.41,51.49,56.21,56.46,61.4433,NaN,NaN
5,Region 3: Central Luzon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,47.96,55.99,60.19,58.03,60.0165,NaN,NaN
6,Region 4A: CALABARZON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,45.61,53.90,58.33,54.79,54.7999,NaN,NaN
7,MIMAROPA: Southwestern Tagalog Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,35.09,43.27,48.14,46.00,50.2024,NaN,NaN
8,Region 5: Bicol Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,28.35,39.63,45.80,42.31,43.5180,NaN,NaN
9,Region 6: Western Visayas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,32.54,44.17,49.74,44.22,48.2144,NaN,NaN
10,Region 7: Central Visayas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,35.90,47.21,53.28,47.81,49.7072,NaN,NaN
11,Region 8: Eastern Visayas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,28.15,38.02,43.20,42.08,48.2067,NaN,NaN
12,Region 9: Zamboanga Peninsula,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,23.92,30.40,36.04,34.43,38.4532,NaN,NaN
13,Region 10: Northern Mindanao,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,28.97,37.31,41.87,38.05,41.2193,NaN,NaN
14,Region 11: Davao Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,30.11,38.26,45.74,41.53,43.2965,NaN,NaN
15,Region 12: SOCCSKSARGEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,26.90,35.84,41.50,37.45,40.5400,NaN,NaN
16,CARAGA: Cordillera Administrative Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,28.04,38.11,44.36,40.77,46.1723,NaN,NaN
17,BARMM: Bangsamoro Autonomous Region in Muslim ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6.02,8.70,11.04,10.59,12.7783,NaN,NaN

Next, we can convert both of the datasets into its long representation using the [`melt`](https://pandas.pydata.org/docs/reference/api/pandas.melt.html) function.

In [282]:
junior_high_data = pd.melt(junior_high_data, id_vars='Geolocation', value_vars=junior_high_data.columns [2:]) 

junior_high_data.rename(columns = {'value':'1.4.1p6 (Junior High School)', 0 : 'Year'}, inplace=True)
junior_high_data = junior_high_data.astype({'Year':'int'})

In [283]:
senior_high_data = pd.melt(senior_high_data, id_vars='Geolocation', value_vars=senior_high_data.columns [2:]) 

senior_high_data.rename(columns = {'value':'1.4.1p6 (Senior High School)', 0 : 'Year'}, inplace=True)
senior_high_data = senior_high_data.astype({'Year':'int'})

Once that both datasets has been converted to their long representation, we can [`merge`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html) the two datasets to the combined dataset based on the values of the `Geolocation` and the `Year` column with an outer join.

In [284]:
combined_data = combined_data.merge(junior_high_data, how = 'outer', on = ['Geolocation', 'Year'])
combined_data = combined_data.merge(senior_high_data, how = 'outer', on = ['Geolocation', 'Year'])
combined_data = combined_data.reset_index (drop=True)

In [285]:
combined_data

,Geolocation,Year,1.2.1,1.4.1p5,1.4.1p6 (Junior High School),1.4.1p6 (Senior High School)
0,PHILIPPINES,2001,NaN,90.1,57.55,NaN
1,NCR: National Capital Region,2001,NaN,97.82,67.84,NaN
2,CAR: Cordillera Administrative Region,2001,NaN,92.89,59.84,NaN
3,Region 1: Ilocos Region,2001,NaN,91.33,68.21,NaN
4,Region 2: Cagayan Valley,2001,NaN,89.45,59.67,NaN
...,...,...,...,...,...,...
391,Region 10: Northern Mindanao,2022,NaN,NaN,NaN,NaN
392,Region 11: Davao Region,2022,NaN,NaN,NaN,NaN
393,Region 12: SOCCSKSARGEN,2022,NaN,NaN,NaN,NaN
394,CARAGA: Cordillera Administrative Region,2022,NaN,NaN,NaN,NaN
395,BARMM: Bangsamoro Autonomous Region in Muslim ...,2022,NaN,NaN,NaN,NaN

#### 1.5.4. Proportion of local governments that adopt and implement local disaster risk reduction strategies in line with national disaster risk reduction strategies
Then, the fourth dataset could be loaded using the same [`read_csv`](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) function.

In [286]:
data = pd.read_csv(os.getenv('DSDATA_PROJ') + '/1.5.4.csv')
data

,1.5.4 Proportion of local governments that adopt and implement local disaster risk reduction strategies in line with national disaster risk reduction strategies (Indicator can also found in SDG 13.1.3 and 11.b.2),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Year,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016.0,2017,2018.0,2019,2020.0,2021.0,2022
1,Geolocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,National Capital Region (NCR),..,..,..,..,..,..,..,..,..,...,..,..,..,52.9,..,76.5,..,82.4,100.0,...
3,Cordillera Administrative Region (CAR),..,..,..,..,..,..,..,..,..,...,..,..,..,94.0,..,97.5,..,79.5,61.5,...
4,Region I,..,..,..,..,..,..,..,..,..,...,..,..,..,44.8,..,100.0,..,74.4,76.7,...
5,Region II,..,..,..,..,..,..,..,..,..,...,..,..,..,100.0,..,100.0,..,49.0,55.1,...
6,Region III,..,..,..,..,..,..,..,..,..,...,..,..,..,59.0,..,99.3,..,100.0,100.0,...
7,Region IV-A,..,..,..,..,..,..,..,..,..,...,..,..,..,99.8,..,100.0,..,100.0,74.8,...
8,MIMAROPA,..,..,..,..,..,..,..,..,..,...,..,..,..,82.0,..,100.0,..,100.0,100.0,...
9,Region V,..,..,..,..,..,..,..,..,..,...,..,..,..,91.0,..,93.3,..,57.5,56.7,...
10,Region VI,..,..,..,..,..,..,..,..,..,...,..,..,..,25.1,..,20.2,..,99.3,100.0,...
11,Region VII,..,..,..,..,..,..,..,..,..,...,..,..,..,100.0,..,87.5,..,94.1,100.0,...
12,Region VIII,..,..,..,..,..,..,..,..,..,...,..,..,..,100.0,..,59.5,..,81.9,83.9,...
13,Region IX,..,..,..,..,..,..,..,..,..,...,..,..,..,100.0,..,45.3,..,94.6,96.0,...
14,Region X,..,..,..,..,..,..,..,..,..,...,..,..,..,100.0,..,85.7,..,86.7,96.9,...
15,Region XI,..,..,..,..,..,..,..,..,..,...,..,..,..,100.0,..,100.0,..,88.9,100.0,...
16,Region XII,..,..,..,..,..,..,..,..,..,...,..,..,..,100.0,..,100.0,..,100.0,100.0,...
17,Caraga,..,..,..,..,..,..,..,..,..,...,..,..,..,74.4,..,76.9,..,100.0,93.6,...
18,BBARMM,..,..,..,..,..,..,..,..,..,...,..,..,..,12.5,..,53.7,..,60.9,13.0,...
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Note:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,.. - Data not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,... - Data not yet available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Same as the previous datasets, we would need to [`drop`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html) the irrelevant rows at the bottom of the DataFrame. These are the rows that were a footer outside of the table in the csv files.

In [287]:
data = data.drop (data.index [19:])

Likewise, we know that the row at `Index 0` has the values that is the supposed column header for the table. However, checking each of the cells in this row would make us realize that the column header for the first column should not be `Year`, but rather `Geolocation` as the values in these columns refer to the different regions. 

Thus, we can change the value of the first column in this row to `Geolocation`, so that we would not need to rename the column if we directly made the 0th row into the column header. Then, we can [`drop`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html) the row at `Index 0` as it is now unnecessary. Additionally, we can see that there is a row of **NaN**s at `Index 1`, which would become the 0th row once we drop the row that became the column headers. This should be dropped also, before the index is resetted using the [`reset_index`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html) function.

In [288]:
data.at[0, '1.5.4 Proportion of local governments that adopt and implement local disaster risk reduction strategies in line with national disaster risk reduction strategies (Indicator can also found in SDG 13.1.3 and 11.b.2)'] = 'Geolocation'

In [289]:
data.columns = data.loc[0]
data = data.drop (data.index[0])

data = data.drop (data.index[0])
data = data.reset_index (drop=True)
data

,Geolocation,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016.0,2017,2018.0,2019,2020.0,2021.0,2022
0,National Capital Region (NCR),..,..,..,..,..,..,..,..,..,...,..,..,..,52.9,..,76.5,..,82.4,100.0,...
1,Cordillera Administrative Region (CAR),..,..,..,..,..,..,..,..,..,...,..,..,..,94.0,..,97.5,..,79.5,61.5,...
2,Region I,..,..,..,..,..,..,..,..,..,...,..,..,..,44.8,..,100.0,..,74.4,76.7,...
3,Region II,..,..,..,..,..,..,..,..,..,...,..,..,..,100.0,..,100.0,..,49.0,55.1,...
4,Region III,..,..,..,..,..,..,..,..,..,...,..,..,..,59.0,..,99.3,..,100.0,100.0,...
5,Region IV-A,..,..,..,..,..,..,..,..,..,...,..,..,..,99.8,..,100.0,..,100.0,74.8,...
6,MIMAROPA,..,..,..,..,..,..,..,..,..,...,..,..,..,82.0,..,100.0,..,100.0,100.0,...
7,Region V,..,..,..,..,..,..,..,..,..,...,..,..,..,91.0,..,93.3,..,57.5,56.7,...
8,Region VI,..,..,..,..,..,..,..,..,..,...,..,..,..,25.1,..,20.2,..,99.3,100.0,...
9,Region VII,..,..,..,..,..,..,..,..,..,...,..,..,..,100.0,..,87.5,..,94.1,100.0,...
10,Region VIII,..,..,..,..,..,..,..,..,..,...,..,..,..,100.0,..,59.5,..,81.9,83.9,...
11,Region IX,..,..,..,..,..,..,..,..,..,...,..,..,..,100.0,..,45.3,..,94.6,96.0,...
12,Region X,..,..,..,..,..,..,..,..,..,...,..,..,..,100.0,..,85.7,..,86.7,96.9,...
13,Region XI,..,..,..,..,..,..,..,..,..,...,..,..,..,100.0,..,100.0,..,88.9,100.0,...
14,Region XII,..,..,..,..,..,..,..,..,..,...,..,..,..,100.0,..,100.0,..,100.0,100.0,...
15,Caraga,..,..,..,..,..,..,..,..,..,...,..,..,..,74.4,..,76.9,..,100.0,93.6,...
16,BBARMM,..,..,..,..,..,..,..,..,..,...,..,..,..,12.5,..,53.7,..,60.9,13.0,...

The next step would be renaming the values under the `Geolocation`, although, as seen in the resulting table, we would notice that there is no row for **PHILIPPINES**. This is reflected in the way that we set the values of this column.

In [290]:
data ['Geolocation'] = region_names [1:]
data

,Geolocation,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016.0,2017,2018.0,2019,2020.0,2021.0,2022
0,NCR: National Capital Region,..,..,..,..,..,..,..,..,..,...,..,..,..,52.9,..,76.5,..,82.4,100.0,...
1,CAR: Cordillera Administrative Region,..,..,..,..,..,..,..,..,..,...,..,..,..,94.0,..,97.5,..,79.5,61.5,...
2,Region 1: Ilocos Region,..,..,..,..,..,..,..,..,..,...,..,..,..,44.8,..,100.0,..,74.4,76.7,...
3,Region 2: Cagayan Valley,..,..,..,..,..,..,..,..,..,...,..,..,..,100.0,..,100.0,..,49.0,55.1,...
4,Region 3: Central Luzon,..,..,..,..,..,..,..,..,..,...,..,..,..,59.0,..,99.3,..,100.0,100.0,...
5,Region 4A: CALABARZON,..,..,..,..,..,..,..,..,..,...,..,..,..,99.8,..,100.0,..,100.0,74.8,...
6,MIMAROPA: Southwestern Tagalog Region,..,..,..,..,..,..,..,..,..,...,..,..,..,82.0,..,100.0,..,100.0,100.0,...
7,Region 5: Bicol Region,..,..,..,..,..,..,..,..,..,...,..,..,..,91.0,..,93.3,..,57.5,56.7,...
8,Region 6: Western Visayas,..,..,..,..,..,..,..,..,..,...,..,..,..,25.1,..,20.2,..,99.3,100.0,...
9,Region 7: Central Visayas,..,..,..,..,..,..,..,..,..,...,..,..,..,100.0,..,87.5,..,94.1,100.0,...
10,Region 8: Eastern Visayas,..,..,..,..,..,..,..,..,..,...,..,..,..,100.0,..,59.5,..,81.9,83.9,...
11,Region 9: Zamboanga Peninsula,..,..,..,..,..,..,..,..,..,...,..,..,..,100.0,..,45.3,..,94.6,96.0,...
12,Region 10: Northern Mindanao,..,..,..,..,..,..,..,..,..,...,..,..,..,100.0,..,85.7,..,86.7,96.9,...
13,Region 11: Davao Region,..,..,..,..,..,..,..,..,..,...,..,..,..,100.0,..,100.0,..,88.9,100.0,...
14,Region 12: SOCCSKSARGEN,..,..,..,..,..,..,..,..,..,...,..,..,..,100.0,..,100.0,..,100.0,100.0,...
15,CARAGA: Cordillera Administrative Region,..,..,..,..,..,..,..,..,..,...,..,..,..,74.4,..,76.9,..,100.0,93.6,...
16,BARMM: Bangsamoro Autonomous Region in Muslim ...,..,..,..,..,..,..,..,..,..,...,..,..,..,12.5,..,53.7,..,60.9,13.0,...

As with the previous datasets, we would have to [`replace`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html) the '..' and '...' values, which represents **null**, in the DataFrame with **NaN**s. This is to avoid any errors that would happen in these rows, and so that it would be represented properly.

In [291]:
for c in data.columns.difference(['Geolocation']):
    data [c].replace(to_replace='..', value= np.nan, inplace= True)
    data [c].replace(to_replace='...', value= np.nan, inplace= True)

# data = data.dropna(axis=1, how = 'all')

After all of this, we can now transform this dataset that is in its wide represetation into its long representation using the [`melt`](https://pandas.pydata.org/docs/reference/api/pandas.melt.html) function.

In [292]:
data = pd.melt(data, id_vars='Geolocation', value_vars=data.columns [2:]) 
data

                                           Geolocation     0  value
0                         NCR: National Capital Region  2001    NaN
1                CAR: Cordillera Administrative Region  2001    NaN
2                              Region 1: Ilocos Region  2001    NaN
3                             Region 2: Cagayan Valley  2001    NaN
4                              Region 3: Central Luzon  2001    NaN
..                                                 ...   ...    ...
369                       Region 10: Northern Mindanao  2022    NaN
370                            Region 11: Davao Region  2022    NaN
371                            Region 12: SOCCSKSARGEN  2022    NaN
372           CARAGA: Cordillera Administrative Region  2022    NaN
373  BARMM: Bangsamoro Autonomous Region in Muslim ...  2022    NaN

[374 rows x 3 columns]

Once we were able to convert it to its long representation, we would see that the column names in this new DataFrame are not descriptive with respect to the values underneath the column. Directly merging this with the combined DataFrame would make it hard for its users to distinguish what these columns are for, which is why it was [`rename`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html)d to its correct column names.

In [293]:
data.rename(columns = {'value':'1.5.4', 0 : 'Year'}, inplace=True)
data = data.astype({'Year':'int'})

After this, we can now [`merge`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html) it to the combined dataframe.

In [294]:
combined_data = combined_data.merge(data, how = 'outer', on = ['Geolocation', 'Year'])
combined_data = combined_data.reset_index (drop=True)

In [295]:
combined_data

,Geolocation,Year,1.2.1,1.4.1p5,1.4.1p6 (Junior High School),1.4.1p6 (Senior High School),1.5.4
0,PHILIPPINES,2001,NaN,90.1,57.55,NaN,NaN
1,NCR: National Capital Region,2001,NaN,97.82,67.84,NaN,NaN
2,CAR: Cordillera Administrative Region,2001,NaN,92.89,59.84,NaN,NaN
3,Region 1: Ilocos Region,2001,NaN,91.33,68.21,NaN,NaN
4,Region 2: Cagayan Valley,2001,NaN,89.45,59.67,NaN,NaN
...,...,...,...,...,...,...,...
391,Region 10: Northern Mindanao,2022,NaN,NaN,NaN,NaN,NaN
392,Region 11: Davao Region,2022,NaN,NaN,NaN,NaN,NaN
393,Region 12: SOCCSKSARGEN,2022,NaN,NaN,NaN,NaN,NaN
394,CARAGA: Cordillera Administrative Region,2022,NaN,NaN,NaN,NaN,NaN
395,BARMM: Bangsamoro Autonomous Region in Muslim ...,2022,NaN,NaN,NaN,NaN,NaN

#### 3.4.1. Mortality rate attributed to cardiovascular disease, cancer, diabetes or chronic respiratory disease
To start with the fifth dataset, let us load the data from the csv file using pandas' [`read_csv`](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) function.

In [296]:
data = pd.read_csv(os.getenv('DSDATA_PROJ') + '/3.4.1.csv')
data

,"3.4.1 Mortality rate attributed to cardiovascular disease, cancer, diabetes or chronic respiratory disease",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,NaN,Year,NaN,2000,2001,2002,2003,2004,2005,2006,...,2013,2014,2015,2016,2017,2018,2019,2020.0,2021,2022
1,Indicator,Geolocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.4.1 Mortality rate attributed to cardiovascu...,PHILIPPINES,Both Sexes,..,..,..,..,..,..,4.2,...,4.5,4.6,4.7,4.6,4.5,4.5,4.7,4.6,..,...
3,NaN,NaN,Male,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,5.6,..,...
4,NaN,NaN,Female,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,3.7,..,...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,Note:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,.. - Data not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,... - Data not yet available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Based on the DataFrame that we got using the [`read_csv`](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) function, we can see that there are rows of **NaN**s at the lower part of the DataFrame. Upon further inspection, it started from `Index 266`, which is why the rows from this index was [`drop`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html)ped.

In [297]:
data = data.drop (data.index [266:])

As the column headers are all **Unnamed**, we need to set the column headers to its correct value, which is found at `Index 0`. Although, the values for the first three columns in this row are not descriptive to be column headers, which is why we are changing their values to the correct descriptive name for the rows underneath them using the [`at`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.at.html) function.

As we have no use for the row at `Index 0`, we can now [`drop`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html) this row. With this, we would also be [`drop`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html)ping the next row as it is just a row of **NaN**s.

In [298]:
data.at[0, '3.4.1 Mortality rate attributed to cardiovascular disease, cancer, diabetes or chronic respiratory disease'] = 'Indicator'
data.at[0, 'Unnamed: 1'] = 'Geolocation'
data.at[0, 'Unnamed: 2'] = 'Sex'

In [299]:
data.columns = data.loc[0]
data = data.drop (data.index[0])
data = data.reset_index (drop=True)

data = data.drop (data.index[0])
data = data.reset_index (drop=True)

As the `Sex` column is not available for all datasets, it was decided that only the total—or those rows with **Both Sexes**—would be considered. Once we our data only includes rows with **Both Sexes** as the value of their `Sex` column, we can now [`drop`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html) this column as this column would only have one unique value.

In [300]:
data = data [data ['Sex'] == 'Both Sexes']
data = data.drop('Sex', axis = 1)
data = data.reset_index(drop=True)

Then, we need to [`replace`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html) all cells that has the value of either '..' or '...' with **NaN** for better computation in the future.

In [302]:
for c in data.columns.difference(['Geolocation']):
    data [c].replace(to_replace='..', value= np.nan, inplace= True)
    data [c].replace(to_replace='...', value= np.nan, inplace= True)

# data = data.dropna(axis=1, how = 'all')

Upon studying the different indicators under this specific Sustainable Development Goal (SDG), we would realize that it is comprised of different subsets: (1) cardiovascular diseases, (2) cancer, (3) diabetes, and (4) chronic respiratory disease. However, as we only aim to get the total mortality rate with respect to all of these diseases, we would only get the rows under this indicator which is from `Index 0` to `Index 16`.

Then, after dividing the different subsets, we can now [`drop`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html) the `Indicator` column.

In [304]:
data['Indicator'].unique()

array(['3.4.1 Mortality rate attributed to cardiovascular disease, cancer, diabetes or chronic respiratory disease',
       nan,
       '..3.4.1.1 Mortality rate attributed to cardiovascular disease',
       '..3.4.1.2 Mortality rate attributed to cancer',
       '..3.4.1.3 Mortality rate attributed to diabetes',
       '..3.4.1.4 Mortality rate attributed to chronic respiratory disease'],
      dtype=object)

In [305]:
all_data = data [0:16]
cardio_data = data [16:34]
cancer_data = data [34:52]
diabetes_data = data [52:70]
respi_data = data [70:]

In [306]:
all_data = all_data.drop('Indicator', axis = 1)
all_data

,Geolocation,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020.0,2021,2022
0,PHILIPPINES,NaN,NaN,NaN,NaN,NaN,NaN,4.2,4.2,4.3,...,4.5,4.6,4.7,4.6,4.5,4.5,4.7,4.6,NaN,NaN
1,..National Capital Region (NCR),NaN,NaN,NaN,NaN,NaN,NaN,5.1,5.2,5.2,...,5.2,5.3,5.5,5.2,4.9,4.9,5,4.8,NaN,NaN
2,..Cordillera Administrative Region (CAR),NaN,NaN,NaN,NaN,NaN,NaN,3.3,3.1,3.3,...,3.4,3.5,3.7,3.6,3.6,3.8,4.1,3.8,NaN,NaN
3,..Region I,NaN,NaN,NaN,NaN,NaN,NaN,4.9,4.8,5,...,5,5.1,5.1,5,4.9,4.9,4.9,4.9,NaN,NaN
4,..Region II,NaN,NaN,NaN,NaN,NaN,NaN,4,3.9,4,...,4.4,4.4,4.5,4.4,4.3,4.5,4.7,4.3,NaN,NaN
5,..Region III,NaN,NaN,NaN,NaN,NaN,NaN,4.8,5,5,...,5.2,5.4,5.4,5.3,5.2,5.2,5.3,5.2,NaN,NaN
6,..Region IV-A,NaN,NaN,NaN,NaN,NaN,NaN,4.7,4.7,4.6,...,4.9,5.1,5,4.9,4.9,4.9,5.1,5.1,NaN,NaN
7,..MIMAROPA,NaN,NaN,NaN,NaN,NaN,NaN,3.5,3.5,3.5,...,3.8,3.9,3.9,4.2,3.9,4.1,4.3,4.2,NaN,NaN
8,..Region VII,NaN,NaN,NaN,NaN,NaN,NaN,4.3,4.2,4.4,...,4.7,4.8,5,4.9,4.7,4.7,4.8,4.9,NaN,NaN
9,..Region VIII,NaN,NaN,NaN,NaN,NaN,NaN,3.5,3.5,3.5,...,3.7,3.8,3.8,3.7,3.7,3.8,3.9,4.0,NaN,NaN
10,..Region IX,NaN,NaN,NaN,NaN,NaN,NaN,3,3,3.2,...,3.7,3.7,3.9,4,3.9,4.2,4.5,4.5,NaN,NaN
11,..Region X,NaN,NaN,NaN,NaN,NaN,NaN,3.5,3.4,3.6,...,4.1,4,4.3,4.5,4.3,4.4,4.4,4.4,NaN,NaN
12,..Region XI,NaN,NaN,NaN,NaN,NaN,NaN,3.6,3.8,4,...,4.5,4.6,4.7,4.7,4.7,4.6,4.8,4.8,NaN,NaN
13,..Region XII,NaN,NaN,NaN,NaN,NaN,NaN,3,3.1,3.2,...,3.9,3.8,3.9,4,3.9,3.8,3.9,4.1,NaN,NaN
14,..Caraga,NaN,NaN,NaN,NaN,NaN,NaN,3.4,3.4,3.5,...,3.8,4,4.2,4.1,4,4,3.4,4.5,NaN,NaN
15,..BBARMM,NaN,NaN,NaN,NaN,NaN,NaN,0.6,0.6,0.5,...,0.5,0.6,0.8,0.8,0.8,0.9,1,1.2,NaN,NaN

Upon inspection, we would realize that there are two regions that are missing from the table, which are **Region V** and **Region VI**, which is why we would only be using the region names that are included in the DataFrame.

In [307]:
# no region five and six
all_data ['Geolocation'] = region_names [0:8] + region_names [10:]

After this, with the use of the [`melt`](https://pandas.pydata.org/docs/reference/api/pandas.melt.html) function, we can now convert our DataFrame to its long representation. Then, we must set the column headers to describe the values in this column, which is why we would need to [`rename`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html) the columns.

In [308]:
all_data = pd.melt(all_data, id_vars='Geolocation', value_vars=all_data.columns [2:]) 

all_data.rename(columns = {'value':'3.4.1 (Total data)', 0 : 'Year'}, inplace=True)
all_data = all_data.astype({'Year':'int'})

After this, we can now [`merge`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html) it to the DataFrame which holds the combined datasets.

In [309]:
combined_data = combined_data.merge(all_data, how = 'outer', on = ['Geolocation', 'Year'])
combined_data = combined_data.reset_index (drop=True)

In [310]:
combined_data

,Geolocation,Year,1.2.1,1.4.1p5,1.4.1p6 (Junior High School),1.4.1p6 (Senior High School),1.5.4,3.4.1 (Total data)
0,PHILIPPINES,2001,NaN,90.1,57.55,NaN,NaN,NaN
1,NCR: National Capital Region,2001,NaN,97.82,67.84,NaN,NaN,NaN
2,CAR: Cordillera Administrative Region,2001,NaN,92.89,59.84,NaN,NaN,NaN
3,Region 1: Ilocos Region,2001,NaN,91.33,68.21,NaN,NaN,NaN
4,Region 2: Cagayan Valley,2001,NaN,89.45,59.67,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
391,Region 10: Northern Mindanao,2022,NaN,NaN,NaN,NaN,NaN,NaN
392,Region 11: Davao Region,2022,NaN,NaN,NaN,NaN,NaN,NaN
393,Region 12: SOCCSKSARGEN,2022,NaN,NaN,NaN,NaN,NaN,NaN
394,CARAGA: Cordillera Administrative Region,2022,NaN,NaN,NaN,NaN,NaN,NaN
395,BARMM: Bangsamoro Autonomous Region in Muslim ...,2022,NaN,NaN,NaN,NaN,NaN,NaN

#### 3.7.1. Proportion of women of reproductive age (aged 15-49 years) who have their need for family planning satisfied [provided] with modern methods

In [59]:
data = pd.read_csv(os.getenv('DSDATA_PROJ') + '/3.7.1.csv')
data

,3.7.1 Proportion of women of reproductive age (aged 15-49 years) who have their need for family planning satisfied [provided] with modern methods,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,Year,NaN,2000,2001,2002,2003.0,2004,2005,2006,2007,...,2013.0,2014,2015,2016,2017.0,2018,2019,2020,2021,2022
1,Indicator/Sub-indicators,Geolocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.7.1 Proportion of women of reproductive age ...,PHILIPPINES,..,..,..,46.7,..,..,..,..,...,51.8,..,..,..,56.9,..,..,..,..,...
3,NaN,..National Capital Region (NCR),..,..,..,47.2,..,..,..,..,...,53.4,..,..,..,59.5,..,..,..,..,...
4,NaN,..Cordillera Administrative Region (CAR),..,..,..,44.4,..,..,..,..,...,59.8,..,..,..,66.7,..,..,..,..,...
5,NaN,..Region I,..,..,..,49.6,..,..,..,..,...,50.8,..,..,..,59.5,..,..,..,..,...
6,NaN,..Region II,..,..,..,68.8,..,..,..,..,...,69.1,..,..,..,74.1,..,..,..,..,...
7,NaN,..Region III,..,..,..,54.2,..,..,..,..,...,60.4,..,..,..,56.8,..,..,..,..,...
8,NaN,..Region IV-A,..,..,..,46.1,..,..,..,..,...,49.1,..,..,..,49.2,..,..,..,..,...
9,NaN,..MIMAROPA,..,..,..,48.5,..,..,..,..,...,55.1,..,..,..,61.7,..,..,..,..,...
10,NaN,..Region V,..,..,..,30.6,..,..,..,..,...,29.3,..,..,..,44.4,..,..,..,..,...
11,NaN,..Region VI,..,..,..,42.3,..,..,..,..,...,45.5,..,..,..,56.8,..,..,..,..,...
12,NaN,..Region VII,..,..,..,47.1,..,..,..,..,...,46.0,..,..,..,51.2,..,..,..,..,...
13,NaN,..Region VIII,..,..,..,35.8,..,..,..,..,...,50.2,..,..,..,54.6,..,..,..,..,...
14,NaN,..Region IX,..,..,..,46.9,..,..,..,..,...,53.0,..,..,..,56.8,..,..,..,..,...
15,NaN,..Region X,..,..,..,45.9,..,..,..,..,...,53.0,..,..,..,63.0,..,..,..,..,...
16,NaN,..Region XI,..,..,..,53.6,..,..,..,..,...,55.1,..,..,..,64.7,..,..,..,..,...
17,NaN,..Region XII,..,..,..,51.6,..,..,..,..,...,60.5,..,..,..,66.6,..,..,..,..,...
18,NaN,..Caraga,..,..,..,43.7,..,..,..,..,...,57.5,..,..,..,64.5,..,..,..,..,...
19,NaN,..BBARMM,..,..,..,23.1,..,..,..,..,...,29.7,..,..,..,42.5,..,..,..,..,...
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Note:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,.. - Data not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,... - Data not yet available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
data = data.drop (data.index [20:])

In [61]:
data.at[0, 'Unnamed: 1'] = 'Geolocation'

In [62]:
data.columns = data.loc[0]
data = data.drop (data.index[0])
data = data.reset_index (drop=True)

data = data.drop (data.index[0])
data = data.reset_index (drop=True)

In [63]:
data = data.drop('Year', axis=1)

In [64]:
data ['Geolocation'] = region_names

In [65]:
for c in data.columns.difference(['Geolocation']):
    data [c].replace(to_replace='..', value= np.nan, inplace= True)
    data [c].replace(to_replace='...', value= np.nan, inplace= True)

# data = data.dropna(axis=1, how = 'all')

In [66]:
data = pd.melt(data, id_vars='Geolocation', value_vars=data.columns [2:]) 

data.rename(columns = {'value':'3.7.1', 0 : 'Year'}, inplace=True)
data = data.astype({'Year':'int'})

In [67]:
data

                                           Geolocation  Year  3.7.1
0                                          PHILIPPINES  2001    NaN
1                         NCR: National Capital Region  2001    NaN
2                CAR: Cordillera Administrative Region  2001    NaN
3                              Region 1: Ilocos Region  2001    NaN
4                             Region 2: Cagayan Valley  2001    NaN
..                                                 ...   ...    ...
391                       Region 10: Northern Mindanao  2022    NaN
392                            Region 11: Davao Region  2022    NaN
393                            Region 12: SOCCSKSARGEN  2022    NaN
394           CARAGA: Cordillera Administrative Region  2022    NaN
395  BARMM: Bangsamoro Autonomous Region in Muslim ...  2022    NaN

[396 rows x 3 columns]

In [68]:
combined_data = combined_data.merge(data, how = 'outer', on = ['Geolocation', 'Year'])
combined_data = combined_data.reset_index (drop=True)

In [69]:
combined_data

,Geolocation,Year,1.2.1,1.4.1p5,1.4.1p6 (Junior High School),1.4.1p6 (Senior High School),1.5.4,3.4.1 (Total data),3.7.1
0,PHILIPPINES,2001,NaN,90.1,57.55,NaN,NaN,NaN,NaN
1,NCR: National Capital Region,2001,NaN,97.82,67.84,NaN,NaN,NaN,NaN
2,CAR: Cordillera Administrative Region,2001,NaN,92.89,59.84,NaN,NaN,NaN,NaN
3,Region 1: Ilocos Region,2001,NaN,91.33,68.21,NaN,NaN,NaN,NaN
4,Region 2: Cagayan Valley,2001,NaN,89.45,59.67,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
391,Region 10: Northern Mindanao,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
392,Region 11: Davao Region,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
393,Region 12: SOCCSKSARGEN,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
394,CARAGA: Cordillera Administrative Region,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
395,BARMM: Bangsamoro Autonomous Region in Muslim ...,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 3.7.2. Adolescent birth rate aged 15-19 years per 1,000 women in that age group

In [70]:
data = pd.read_csv(os.getenv('DSDATA_PROJ') + '/3.7.2.csv')
data

,"3.7.2 Adolescent birth rate aged 15-19 years per 1,000 women in that age group",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Year,2000,2001,2002,2003.0,2004,2005,2006,2007,2008.0,...,2013.0,2014,2015,2016,2017.0,2018,2019,2020,2021,2022
1,Geolocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PHILIPPINES,..,..,..,53.0,..,..,..,..,54.0,...,57.0,..,..,..,47.0,..,..,..,..,...
3,..National Capital Region (NCR),..,..,..,35.0,..,..,..,..,25.0,...,48.0,..,..,..,27.0,..,..,..,..,...
4,..Cordillera Administrative Region (CAR),..,..,..,52.0,..,..,..,..,34.0,...,53.0,..,..,..,25.0,..,..,..,..,...
5,..Region I,..,..,..,55.0,..,..,..,..,52.0,...,78.0,..,..,..,46.0,..,..,..,..,...
6,..Region II,..,..,..,85.0,..,..,..,..,54.0,...,65.0,..,..,..,51.0,..,..,..,..,...
7,..Region III,..,..,..,42.0,..,..,..,..,69.0,...,63.0,..,..,..,61.0,..,..,..,..,...
8,..Region IV-A,..,..,..,44.0,..,..,..,..,63.0,...,58.0,..,..,..,37.0,..,..,..,..,...
9,..MIMAROPA,..,..,..,108.0,..,..,..,..,87.0,...,68.0,..,..,..,47.0,..,..,..,..,...
10,..Region V,..,..,..,60.0,..,..,..,..,63.0,...,59.0,..,..,..,36.0,..,..,..,..,...
11,..Region VI,..,..,..,57.0,..,..,..,..,41.0,...,58.0,..,..,..,38.0,..,..,..,..,...
12,..Region VII,..,..,..,45.0,..,..,..,..,58.0,...,49.0,..,..,..,47.0,..,..,..,..,...
13,..Region VIII,..,..,..,48.0,..,..,..,..,60.0,...,50.0,..,..,..,50.0,..,..,..,..,...
14,..Region IX,..,..,..,82.0,..,..,..,..,62.0,...,43.0,..,..,..,54.0,..,..,..,..,...
15,..Region X,..,..,..,56.0,..,..,..,..,43.0,...,62.0,..,..,..,81.0,..,..,..,..,...
16,..Region XI,..,..,..,42.0,..,..,..,..,68.0,...,54.0,..,..,..,87.0,..,..,..,..,...
17,..Region XII,..,..,..,90.0,..,..,..,..,64.0,...,58.0,..,..,..,91.0,..,..,..,..,...
18,..Caraga,..,..,..,85.0,..,..,..,..,83.0,...,87.0,..,..,..,61.0,..,..,..,..,...
19,..BBARMM,..,..,..,51.0,..,..,..,..,71.0,...,56.0,..,..,..,47.0,..,..,..,..,...
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Note:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,.. - Data not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,... - Data not yet available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
data = data.drop (data.index [20:])

In [72]:
data.columns = data.loc[0]
data = data.drop (data.index[0])
data = data.reset_index (drop=True)

data = data.drop (data.index[0])
data = data.reset_index (drop=True)

In [73]:
data.rename(columns = {'Year':'Geolocation'}, inplace=True)

In [74]:
data ['Geolocation'] = region_names

In [75]:
for c in data.columns.difference(['Geolocation']):
    data [c].replace(to_replace='..', value= np.nan, inplace= True)
    data [c].replace(to_replace='...', value= np.nan, inplace= True)

# data = data.dropna(axis=1, how = 'all')

In [76]:
data = pd.melt(data, id_vars='Geolocation', value_vars=data.columns [2:]) 

data.rename(columns = {'value':'3.7.2', 0 : 'Year'}, inplace=True)
data = data.astype({'Year':'int'})

In [77]:
combined_data = combined_data.merge(data, how = 'outer', on = ['Geolocation', 'Year'])
combined_data = combined_data.reset_index (drop=True)

In [78]:
combined_data

,Geolocation,Year,1.2.1,1.4.1p5,1.4.1p6 (Junior High School),1.4.1p6 (Senior High School),1.5.4,3.4.1 (Total data),3.7.1,3.7.2
0,PHILIPPINES,2001,NaN,90.1,57.55,NaN,NaN,NaN,NaN,NaN
1,NCR: National Capital Region,2001,NaN,97.82,67.84,NaN,NaN,NaN,NaN,NaN
2,CAR: Cordillera Administrative Region,2001,NaN,92.89,59.84,NaN,NaN,NaN,NaN,NaN
3,Region 1: Ilocos Region,2001,NaN,91.33,68.21,NaN,NaN,NaN,NaN,NaN
4,Region 2: Cagayan Valley,2001,NaN,89.45,59.67,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
391,Region 10: Northern Mindanao,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
392,Region 11: Davao Region,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
393,Region 12: SOCCSKSARGEN,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
394,CARAGA: Cordillera Administrative Region,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
395,BARMM: Bangsamoro Autonomous Region in Muslim ...,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 4.1.s1. Completion Rate of elementary and secondary students

In [79]:
data = pd.read_csv(os.getenv('DSDATA_PROJ') + '/4.1.s1.csv')
data

,4.1.s1 Completion Rate of elementary and secondary students 1/ 2/,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Year,NaN,NaN,2000,2001,2002,2003,2004,2005,2006,...,2013,2014,2015,2016,2017,2018.00,2019.00,2020.000000,2021,2022
1,Geolocation,Level of Education,Sex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PHILIPPINES,Elementary,Both Sexes,62.72,68.18,71.55,70.24,69.06,68.11,71.72,...,77.67,83.74,84.02,93.06,92.41,97.15,96.56,82.510000,...,...
3,NaN,NaN,Female,65.53,70.7,76.32,75.63,75.2,73.46,76.7,...,81.33,86.23,87.43,95.52,94.61,99.12,98.08,84.681828,...,...
4,NaN,NaN,Male,60.05,65.78,67.23,65.42,63.63,63.29,67.28,...,74.38,81.45,80.97,90.83,90.41,95.26,95.10,80.500538,...,...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,.. - Data not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,... - Data not yet available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,1/ - Updates were based on the submission of D...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,2/ - Estimation in Senior High School only sta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,3/ - Estimation for Region IV-A and MIMAROPA i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
data = data.drop(data.index[164:])

In [81]:
data.at[0, '4.1.s1 Completion Rate of elementary and secondary students 1/ 2/'] = 'Geolocation'
data.at[0, 'Unnamed: 1'] = 'Level of Education'
data.at[0, 'Unnamed: 2'] = 'Sex'

In [82]:
data.columns = data.loc[0]
data = data.drop (data.index[0])
data = data.reset_index (drop=True)

data = data.drop (data.index[0])
data = data.reset_index (drop=True)

In [83]:
data = data [data['Sex'] == 'Both Sexes']
data = data.drop ('Sex', axis = 1)
data = data.reset_index(drop=True)

In [84]:
# copying the geolocation value to the next two rows
i = 0
while i < len (data):
    if i % 3 == 0:
        data.at[i + 1, 'Geolocation'] = data['Geolocation'][i]
        data.at[i + 2, 'Geolocation'] = data['Geolocation'][i]
        i = i + 3

In [85]:
for c in data.columns.difference(['Geolocation']):
    data [c].replace(to_replace='..', value= np.nan, inplace= True)
    data [c].replace(to_replace='...', value= np.nan, inplace= True)

# data = data.dropna(axis=1, how = 'all')

In [86]:
elem_data = data [data['Level of Education'] == 'Elementary']
elem_data = elem_data.reset_index (drop=True)

junior_data = data [data['Level of Education'] == 'Secondary (Junior High School)']
junior_data = junior_data.reset_index (drop=True)

senior_data = data [data['Level of Education'] == 'Secondary (Senior High School)']
senior_data = senior_data.reset_index (drop=True)

In [87]:
elem_data = elem_data.drop ('Level of Education', axis = 1)
elem_data = elem_data.reset_index(drop=True)

In [88]:
elem_data ['Geolocation'] = region_names

In [89]:
elem_data = pd.melt(elem_data, id_vars='Geolocation', value_vars=elem_data.columns [2:]) 

elem_data.rename(columns = {'value':'4.1.s1 (Elementary)', 0 : 'Year'}, inplace=True)
elem_data = elem_data.astype({'Year':'int'})

In [90]:
combined_data = combined_data.merge(elem_data, how = 'outer', on = ['Geolocation', 'Year'])
combined_data = combined_data.reset_index (drop=True)

In [91]:
junior_data = junior_data.drop ('Level of Education', axis = 1)
junior_data = junior_data.reset_index(drop=True)

In [92]:
junior_data ['Geolocation'] = region_names

In [93]:
junior_data = pd.melt(junior_data, id_vars='Geolocation', value_vars=junior_data.columns [2:]) 

junior_data.rename(columns = {'value':'4.1.s1 (Junior High School)', 0 : 'Year'}, inplace=True)
junior_data = junior_data.astype({'Year':'int'})

In [94]:
combined_data = combined_data.merge(junior_data, how = 'outer', on = ['Geolocation', 'Year'])
combined_data = combined_data.reset_index (drop=True)

In [95]:
senior_data = senior_data.drop ('Level of Education', axis = 1)
senior_data = senior_data.reset_index(drop=True)

In [96]:
senior_data ['Geolocation'] = region_names

In [97]:
senior_data = pd.melt(senior_data, id_vars='Geolocation', value_vars=senior_data.columns [2:]) 

senior_data.rename(columns = {'value':'4.1.s1 (Senior High School)', 0 : 'Year'}, inplace=True)
senior_data = senior_data.astype({'Year':'int'})

In [98]:
combined_data = combined_data.merge(senior_data, how = 'outer', on = ['Geolocation', 'Year'])
combined_data = combined_data.reset_index (drop=True)

In [99]:
combined_data

,Geolocation,Year,1.2.1,1.4.1p5,1.4.1p6 (Junior High School),1.4.1p6 (Senior High School),1.5.4,3.4.1 (Total data),3.7.1,3.7.2,4.1.s1 (Elementary),4.1.s1 (Junior High School),4.1.s1 (Senior High School)
0,PHILIPPINES,2001,NaN,90.1,57.55,NaN,NaN,NaN,NaN,NaN,68.18,69.97,NaN
1,NCR: National Capital Region,2001,NaN,97.82,67.84,NaN,NaN,NaN,NaN,NaN,74.29,68.43,NaN
2,CAR: Cordillera Administrative Region,2001,NaN,92.89,59.84,NaN,NaN,NaN,NaN,NaN,59.55,61.75,NaN
3,Region 1: Ilocos Region,2001,NaN,91.33,68.21,NaN,NaN,NaN,NaN,NaN,79.7,75.35,NaN
4,Region 2: Cagayan Valley,2001,NaN,89.45,59.67,NaN,NaN,NaN,NaN,NaN,74.07,69.4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
391,Region 10: Northern Mindanao,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
392,Region 11: Davao Region,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
393,Region 12: SOCCSKSARGEN,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
394,CARAGA: Cordillera Administrative Region,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
395,BARMM: Bangsamoro Autonomous Region in Muslim ...,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 4.c.s2. Number of Technical-Vocational Education and Training (TVET) trainers trained

In [100]:
data = pd.read_csv(os.getenv('DSDATA_PROJ') + '/4.c.s2.csv')
data

,4.c.s2 Number of Technical-Vocational Education and Training (TVET) trainers trained,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Year,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022
1,Geolocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PHILIPPINES,..,..,..,..,..,..,..,..,..,...,..,..,..,6518.0,11159.0,10118.0,10855.0,4023.0,7746.0,...
3,..National Capital Region (NCR),..,..,..,..,..,..,..,..,..,...,..,..,..,610.0,1028.0,1280.0,1409.0,782.0,1985.0,...
4,..Cordillera Administrative Region (CAR),..,..,..,..,..,..,..,..,..,...,..,..,..,201.0,302.0,166.0,260.0,92.0,199.0,...
5,..Region I,..,..,..,..,..,..,..,..,..,...,..,..,..,474.0,455.0,475.0,501.0,375.0,327.0,...
6,..Region II,..,..,..,..,..,..,..,..,..,...,..,..,..,270.0,612.0,447.0,686.0,215.0,240.0,...
7,..Region III,..,..,..,..,..,..,..,..,..,...,..,..,..,280.0,262.0,354.0,839.0,277.0,471.0,...
8,..Region IV-A,..,..,..,..,..,..,..,..,..,...,..,..,..,833.0,1067.0,1440.0,817.0,177.0,647.0,...
9,..MIMAROPA,..,..,..,..,..,..,..,..,..,...,..,..,..,139.0,523.0,709.0,413.0,162.0,255.0,...
10,..Region V,..,..,..,..,..,..,..,..,..,...,..,..,..,467.0,940.0,543.0,571.0,292.0,339.0,...
11,..Region VI,..,..,..,..,..,..,..,..,..,...,..,..,..,357.0,997.0,598.0,317.0,111.0,426.0,...
12,..Region VII,..,..,..,..,..,..,..,..,..,...,..,..,..,441.0,965.0,667.0,769.0,267.0,532.0,...
13,..Region VIII,..,..,..,..,..,..,..,..,..,...,..,..,..,708.0,1307.0,500.0,429.0,227.0,416.0,...
14,..Region IX,..,..,..,..,..,..,..,..,..,...,..,..,..,356.0,690.0,426.0,557.0,148.0,446.0,...
15,..Region X,..,..,..,..,..,..,..,..,..,...,..,..,..,585.0,607.0,658.0,905.0,224.0,378.0,...
16,..Region XI,..,..,..,..,..,..,..,..,..,...,..,..,..,294.0,356.0,714.0,910.0,332.0,543.0,...
17,..Region XII,..,..,..,..,..,..,..,..,..,...,..,..,..,216.0,596.0,493.0,338.0,144.0,153.0,...
18,..Caraga,..,..,..,..,..,..,..,..,..,...,..,..,..,67.0,107.0,165.0,1034.0,64.0,149.0,...
19,..BARMM,..,..,..,..,..,..,..,..,..,...,..,..,..,220.0,345.0,483.0,100.0,134.0,240.0,...
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Note:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,.. - Data not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,... - Data not yet available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
data = data.drop(data.index[20:])

In [102]:
data.at[0, '4.c.s2 Number of Technical-Vocational Education and Training (TVET) trainers trained'] = 'Geolocation'

In [103]:
data.columns = data.loc[0]
data = data.drop (data.index[0])
data = data.reset_index (drop=True)

data = data.drop (data.index[0])
data = data.reset_index (drop=True)

In [104]:
data ['Geolocation'] = region_names

In [105]:
for c in data.columns.difference(['Geolocation']):
    data [c].replace(to_replace='..', value= np.nan, inplace= True)
    data [c].replace(to_replace='...', value= np.nan, inplace= True)

# data = data.dropna(axis=1, how = 'all')

In [106]:
data = pd.melt(data, id_vars='Geolocation', value_vars=data.columns [2:]) 

data.rename(columns = {'value':'4.c.s2', 0 : 'Year'}, inplace=True)
data = data.astype({'Year':'int'})

In [107]:
combined_data = combined_data.merge(data, how = 'outer', on = ['Geolocation', 'Year'])
combined_data = combined_data.reset_index (drop=True)

In [108]:
combined_data

,Geolocation,Year,1.2.1,1.4.1p5,1.4.1p6 (Junior High School),1.4.1p6 (Senior High School),1.5.4,3.4.1 (Total data),3.7.1,3.7.2,4.1.s1 (Elementary),4.1.s1 (Junior High School),4.1.s1 (Senior High School),4.c.s2
0,PHILIPPINES,2001,NaN,90.1,57.55,NaN,NaN,NaN,NaN,NaN,68.18,69.97,NaN,NaN
1,NCR: National Capital Region,2001,NaN,97.82,67.84,NaN,NaN,NaN,NaN,NaN,74.29,68.43,NaN,NaN
2,CAR: Cordillera Administrative Region,2001,NaN,92.89,59.84,NaN,NaN,NaN,NaN,NaN,59.55,61.75,NaN,NaN
3,Region 1: Ilocos Region,2001,NaN,91.33,68.21,NaN,NaN,NaN,NaN,NaN,79.7,75.35,NaN,NaN
4,Region 2: Cagayan Valley,2001,NaN,89.45,59.67,NaN,NaN,NaN,NaN,NaN,74.07,69.4,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391,Region 10: Northern Mindanao,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
392,Region 11: Davao Region,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
393,Region 12: SOCCSKSARGEN,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
394,CARAGA: Cordillera Administrative Region,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
395,BARMM: Bangsamoro Autonomous Region in Muslim ...,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 7.1.1. Proportion of population with access to electricity

#### 8.1.1. Annual growth rate of real GDP per capita

#### 10.1.1. Growth rates of household expenditure or income per capita among the bottom 40 per cent of the population and the total population

#### 14.5.1. Coverage of protected areas in relation to marine areas

#### 16.1.1 Number of victims of intentional homicide (per 100,000 population)

#### 16.1.s1 Number of murder cases

#### Other Non-SDG datasets that can help us in exploring the former datasets

##### Changes in Inventories, by Region

##### Current Health Expenditure by Region, Growth Rates

##### Current Health Expenditure by Region

##### Government Final Consumption Expenditure, by Region, Growth Rates

##### Government Final Consumption Expenditure, by Region, Percent Share

##### Population, by Region

##### Primary Drop-out rates by Region, Sex and Year

##### Proportion of women of reproductive age (aged 15-49 years) who have their need for family planning satisfied [provided] with modern methods

##### Quarterly Producer Price Index for Agriculture (First Quarter 2018 to Third Quarter 2021)

## Data Cleaning and Wrangling

## Exploratory Data Analysis